@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?75218560');
  src: url('../font/fontello.eot?75218560#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?75218560') format('woff2'),
       url('../font/fontello.woff?75218560') format('woff'),
       url('../font/fontello.ttf?75218560') format('truetype'),
       url('../font/fontello.svg?75218560#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75218560#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-03:before { content: '\e800'; } /* '' */
.icon-04:before { content: '\e801'; } /* '' */
.icon-05:before { content: '\e802'; } /* '' */
.icon-08:before { content: '\e803'; } /* '' */
.icon-09:before { content: '\e804'; } /* '' */
.icon-01:before { content: '\e805'; } /* '' */
.icon-06:before { content: '\e806'; } /* '' */
.icon-02:before { content: '\e807'; } /* '' */
.icon-10:before { content: '\e808'; } /* '' */
.icon-07:before { content: '\e809'; } /* '' */
.icon-02-12:before { content: '\e80a'; } /* '' */
.icon-03-12:before { content: '\e80b'; } /* '' */
.icon-04-12:before { content: '\e80c'; } /* '' */
.icon-05-12:before { content: '\e80d'; } /* '' */
.icon-06-12:before { content: '\e80e'; } /* '' */
.icon-07-12:before { content: '\e80f'; } /* '' */
.icon-08-12:before { content: '\e810'; } /* '' */
.icon-09-12:before { content: '\e811'; } /* '' */
.icon-10-12:before { content: '\e812'; } /* '' */