/* CSS Document */
.contOptions .Nuevo
{
	color: red;
}
.wrapperSuperGrid{
	position:relative;
}
.wrapperSuperGrid table{
	background-color:#FFF;
	border:1px solid #D4D4D4;
}
	.wrapperSuperGrid .hCol{ 
	background-color: #F5F5F5;
    text-align: center;
    padding: 5px !important;
}
	.wrapperSuperGrid .hRow{ background-color: #F5F5F5;
    padding: 2px !important;}
	.wrapperSuperGrid input, .wrapperSuperGrid select , .wrapperSuperGrid .valPred { margin:2px; }

.wrapperSuperGrid table input{
	outline:none;
	font-size: 12px !important;
	margin: 0px !important;
}
.wrapperSuperGrid table [type=date]{
	border:none;
	width:100%;
	font-size: 12px !important;
	margin: 0px !important;
	 text-transform: capitalize !important;
}

.wrapperSuperGrid table select{
	border:none;
	outline:none;
	font-size: 12px !important;
	margin: 0px !important;
	 text-transform: capitalize !important;
}
.wrapperSuperGrid table td{
	padding: 4px !important;
}
/*
	Tabla de resultados
	Contenedor de la tabla de  resultados
*/
.tablaR{
	overflow-y:hidden;
	overflow-x:scroll;
}
/*
	Box de  respuesta
*/
.wrapperSuperGrid .respCrud{
	position:absolute;
	background-color:#FFF;
	z-index:3;
	width:100%;
	height:inherit;
	font-size:26px;
}
/*
	Paginacion
*/
.contPaginacion{
	
}
	.paginacion li{
		list-style:none;
		float:left;
		margin-left:10px;
	}
	.paginacion li .cPage{
		list-style:none;
		float:left;
		margin-left:10px;
		background-color:#BECDE0;
	}
	.paginacion a{
		width:20px;
		padding:5px;
		font-size:20px;
		background-color:#3E5C82;
		color:#FFF;
		display:block;
	}

.wrapperSuperGrid table td{
	border-left:1px solid #D4D4D4;
	border-bottom:1px solid #D4D4D4;
	position:relative;
}

.wrapperSuperGrid .texto{
	width:100%;
}
.wrapperSuperGrid .contOptions{
	padding:5px;	
}


/*
	CUSTOM CONTROLS
*/
.containerMS{
	width: 99%;
	position: absolute;
	background-color: #EAEAEA;
	z-index: 2;
    border: 1px solid black;
	top:0px;
}
	.containerMS .labelText{ white-space:nowrap; width:100%;}
	.containerMS label{ display:block;}
	.containerMS .headCtr{ height:20px; overflow:hidden;}
	.containerMS .bodyCtr{display:none;	}
	.containerSelect select{ width:100%;}		

.wrapperSuperGrid .colTit .tituloCol{
    font-size: 12px !important;
    color: #eee !important;
    font-family: sans-serif;
}
	
	
.wrapperSuperGrid div, .wrapperSuperGrid select,  .wrapperSuperGrid select option, .wrapperSuperGrid input, .wrapperSuperGrid b {
	font-size:12px !important;
	color:#000 !important;
	font-family: sans-serif;
}
.tituloCol{
	color:#000 !important;
	font-family: sans-serif;
	font-size:15px  !important;
}
.colTit{
	background-color: rgb(90, 90, 90); /* #F5F5F5;*/
    text-align: center;
}