* {
	padding: 0;
	margin: 0;
}

a, button, .btn, * a, * button, * .btn {
	transition: all ease-in-out .3s;
}

/*

	efecto ZOOOM en imagenes

img {
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -ms-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
}

img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
*/

input, button, textarea, select, * input, * select, * textarea, * button {
	outline: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	resize: none !important;
}

* p { 
	font-size: 14px;
}

* span {
	font-size: 15px;
}

 * h2 {
}

 * h4 {
}


@font-face {
    font-family: Roboto-Bold;
    src:url(../fonts/roboto/Roboto-Bold.ttf)
}
@font-face {
    font-family: Roboto-Light;
    src:url(../fonts/roboto/Roboto-Light.ttf)
}
@font-face {
    font-family: Roboto-Regular;
    src:url(../fonts/roboto/Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto-Medium;
    src:url(../fonts/roboto/Roboto-Medium.ttf)
}


.map-canvas {
    position: relative;
    width: 100%;
    height: 250px;
}


.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}



/**************** MENU  ******************/

	.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 0; /* Establecemos la barra en la izquierda */
	top: 260px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
 
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

/************  LOGO  ************/

.logo { 
	position: relative;
	width: 49%;
	text-align: center;
	margin: 0 auto;
}

.logo img { 
	max-width: 100%;
}

.navbar-inverse {
    background-color:transparent;
    border-color: #000;
	z-index: 5;
}

.navbar { margin: 0px;}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav .infor-right {
	display: inline-flex;
    right: 0px;
    align-items: center;
    position: absolute;
    width: 33%;
    justify-content: flex-start;
}


.navbar-inverse .navbar-nav .infor-right p {
	margin: 0px;
	font-family: Roboto-Bold;
	color: #545759;
	font-size: 16px;
}

.navbar-inverse .navbar-nav .infor-right img {
	margin-left: 20px;
	cursor: pointer;
}


.navbar-nav {
    float: right;
    margin: 0;
    padding: 9px 0 9px 14px;
    height: 100%;
    width: calc(86.2% - 0px);
    background-color: #ededed;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation {
	padding: 20px 0; 
	position: relative;
}

.menu-fixed {
	z-index:1000;
	top:9;
	background-color: #fff;
	width:100%;
}

.main {
	margin-top: 5.5%;
	    width: calc(86.2% - 0px);
    float: right;
	margin-bottom: 17px!important;
	
}


.navbar .navbar-nav li .user_u {
	position: relative;
    display: block;
    padding: 10px 15px;
	line-height: 20px;
	margin-left: 20px;
}

.navbar .navbar-nav li .user-a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #ffc627;
	color: #FFF;
	font-size: 26px;
	position: relative;
	cursor: pointer;
}

.navbar .navbar-nav li .user-a:before {
	content: '';
	border-top: 5px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    left: -5px;
	z-index: 2;
    top: 17px;
	
}

.navbar .navbar-nav li .user-a:after {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #414852;
	position: absolute;
	left: -7px;
    z-index: 1;
	content: '';
}

.navbar .navbar-nav li .a span {
	 font-family: Roboto-Bold;
}

.nav-fixed {
	position: fixed !important;
	left: 0;
	width: 167px;
	height: calc(100% - 0px);
	background-color: #414852;
	top: 85px;
	padding: 0px 0px 20px 0px !important;
	z-index: 4;
}

.nav-fixed .inhalt_menu {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	max-height: 100%;
	overflow-x: hidden;
}

.nav-fixed .inhalt_menu .title_crm {
	position: relative;
	text-align: center;
	padding: 20px;
	background-color: #7c858c;
	width: 100%;
}

.nav-fixed .inhalt_menu .title_crm img {
	display: inline-flex;
	margin-right: 10px;
}

.nav-fixed .inhalt_menu .title_crm p {
	    display: inline-flex;
    font-size: 25px;
    font-family: Roboto-Bold;
    margin: 0px;
    text-align: center;
    color: #fff;
    align-items: center;
}

.nav-fixed .inhalt_menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-fixed .inhalt_menu li {
	width: 100%;
	display: block;
	text-align: center;
	position: relative;
	border-bottom: 2px dashed #7c858c;
}

.nav-fixed .inhalt_menu > ul > li a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	text-decoration: none;
	 font-family: Roboto-Bold;
	font-size: 14px;
	padding: 20px 5px;
	cursor: pointer;
	color: #fff;
	align-items: center;
    justify-content: center;
}

.nav-fixed .inhalt_menu > ul > li a p {
	margin: 0px;
}

.nav-fixed .inhalt_menu > ul > li a .fa {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 20px;
}

.nav-fixed .inhalt_menu > ul form {
	padding: 10px 10px;
}

.nav-fixed .inhalt_menu > ul form .form-control {
	font-family: 'Helvetica-Light';
	border: 0;
	border-radius: 0;
}

.nav-fixed .inhalt_menu > ul > li a img {
	display: inline-block;
	width: 35px;
	margin-right: 7px;
	vertical-align: middle;
}

.nav-fixed .inhalt_menu > ul > li a span {
	display: inline-block;
	vertical-align: middle;
}

.nav-fixed .inhalt_menu li a:hover {
	background-color: #FFF;
	color: #414852;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
	background-color: #ffc200;
	border: 1px solid #ffc200;
	border-radius: 0px;
	color: #fff;
	font-size: 16px;
	font-family: Roboto-Bold;
}


.btn_yell {
	background-color: #ffc200;
	border: 1px solid #ffc200;
	border-radius: 0px;
	color: #fff;
	font-size: 16px;
	font-family: Roboto-Bold;
}

.btn_yell:active:hover,
.btn_yell:hover {
	border: 1px solid #ff4c00;
	color: #fff;
	background-color: #ff4c00;
}

.btn_ora {
	border: 1px solid #ff4c00;
	font-family: Roboto-Bold;
	background-color: #ff4c00;
	border-radius: 0px;
	font-size: 16px;
	color: #fff;
}

.btn_ora:focus,
.btn_ora:active:hover,
.btn_ora:hover {
	background-color: #ffc200;color: #fff;
	border: 1px solid #ffc200;
}

.login {
	background-image: url(../images/01.png);
    -webkit-background-size: 100% 100% !important;
    background-size: 100% 100% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	overflow: hidden;
}

.login .inhalt-login {
	position: relative;
	width: 100%;
	padding: 0px;
	height: 100%;
	margin: 0px;
}

.login .inhalt-login .wrrape_login {
	    position: relative;
    top: 168px;
    text-align: center;
    padding: 15px 40px;
    height: 283px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 25px
}

.login .inhalt-login .wrrape_login > img {
	    margin: 0 auto 10px;
    width: 27%;
}

.login .inhalt-login .wrrape_login .form-login .form-group {
	margin: 0px;
	font-family: Roboto-Regular;
}

.login .inhalt-login .btn_login {
	font-size: 16px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	font-family: Roboto-Medium;
}

.login .inhalt-login .forgot {
	position: relative;
	bottom: 0px;
	left: 0px;
	margin-top: 15px;
	text-align: left;
}

.login .inhalt-login .forgot a {
	text-decoration: none;
}

.login .inhalt-login .forgot a p {
	color: #77828e;
	margin: 0px;
	font-family: Roboto-Regular;
	font-size: 13px;
}

.login .inhalt-login .forgot a p:hover {
		color:#545759;
}



.home {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.home .inhalt-home  {
	padding: 20px 10px;
}

.home .inhalt-home .inhalt-grafica {
	margin-top: 55px;
}

.home .inhalt-home .table-green {
	    border: 0px solid #b3b3b3;
}

.home .inhalt-home .table-green tbody tr:nth-child(1) {
	background-color: #b3b3b3;
	text-align: center;
	font-family: Roboto-Medium;
	color: #fff;
	font-size: 18px;
}

.home .inhalt-home .table-green tbody tr:nth-child(1) td {
	 border: none;
}

.home .inhalt-home .table-green tbody tr {
	background-color: #f4f4f4;
	font-family: Roboto-Medium;
	text-align: center;
	color: #545759;
	font-size: 16px;
}

.home .inhalt-home .table-green tbody tr td.porcentaje {
	color: #999999;
}

.home .inhalt-home .table-green tbody tr td.negociacion {
	color: #ff4c00;
} 

.panel {
	position: relative;
	padding: 0px;
	margin: 0px;
	width: 100%;
	overflow: hidden;
}

.panel .inahlt-panel {
	position: relative;
	width: 100%;
	padding: 0px 10px;
}

.panel .inahlt-panel .row {
	margin: 0px;
	
}

.panel .inahlt-panel .inhalt-panel_item {
	    border: 1px solid #b3b3b3;
	border-radius: 4px;
	margin-bottom: 20px;
}


.pagination {
    display: inline-flex;
    padding-left: 0;
    margin: 0px 0;
	padding: 5px 0;
    float: right;
    background-color: #e6e6e6;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
}

.na-pag {
	    text-align: right;
    width: 100%;
    background-color: #e6e6e6;
    display: flow-root
}


 .pagination > li > a span {
    position: relative;
    float: left;
    text-align: center;
    padding: 0px 5px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
	border-radius: 4px;
    text-decoration: none;
    background-color: #707678!important;
    border: 1px solid #ddd;
}

.pagination > li > a {
	 position: relative;
    float: left;
    text-align: center;
    padding: 0px 5px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #999999;
    text-decoration: none;
    background-color: transparent;
    border: 0px solid transparent;
}


.panel .inahlt-panel .inhalt-panel_item .title-panel-item {
	background-color: #ffc627;
	padding: 10px;
	height: 36px;
} 

.panel .inahlt-panel .inhalt-panel_item .title-panel-item p {
	color: #fff;
	font-family: Roboto-Medium;
	font-size: 16px;
	margin: 0px;
}

.panel .inahlt-panel .inhalt-panel_item .title-panel-item .divcontrolers_refresh {
	    width: 20px;
    height: 20px;
	    float: right;
    cursor: pointer;
    display: inline-flex;
    align-items: initial;
    justify-content: center;
    background-image: url(../images/controlers.png);
    background-position: 0px 0px;
    position: relative;
}

.panel .inahlt-panel .inhalt-panel_item .title-panel-item .divcontrolers_close {
	    width: 20px;
    height: 20px;
	    float: right;
    cursor: pointer;
    display: inline-flex;
    align-items: initial;
    justify-content: center;
    background-image: url(../images/controlers.png);
    background-position: -40px 0px;
    position: relative;
}


.panel .inahlt-panel .inhalt-panel_item .title-panel-item .divcontrolers_edit {
	    width: 20px;
    height: 20px;
	    float: right;
    cursor: pointer;
    display: inline-flex;
    align-items: initial;
    justify-content: center;
    background-image: url(../images/controlers.png);
    background-position: -20px 0px;
    position: relative;
}

.panel .inahlt-panel .inhalt-panel_item .table-yellow {
	    border: 0px solid #b3b3b3;
	margin: 0px;
}

.panel .inahlt-panel .inhalt-panel_item .table-yellow tbody tr:nth-child(1) td {
	background-color: #f4f4f4;
	text-align: center;
	font-family: Roboto-Medium;
	color: #545759;
	font-size: 13px;
}

.panel .inahlt-panel .inhalt-panel_item .table-yellow tbody tr td {
	background-color: #f4f4f4;
	font-family: Roboto-Medium;
	text-align: center;
	border-right: 0px;
	color: #999999;
	font-size: 12px;
}

.panel .inahlt-panel .inhalt-panel_item .table-yellow tbody tr td.nom_bre strong {
	color: #ff4c00;
}


.lead {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.lead .inhalt-lead .title-lead {
	background-color: #ffc627;	
	padding: 0px 20px;
	height: 37px;
}

.lead .inhalt-lead .title-lead p {
	color: #fff;
	margin: 0px;
	justify-content: center;
	align-items: center;
	display: inline-block;
	font-size: 24px;
	font-family: Roboto-Medium;
}

.lead .inhalt-lead .title-lead .btn_crear {
	background-color: #414852;
    color: #fff;
    margin: 0px;
    float: right;
	font-size: 16px;
    padding: 6px 15px;
    border-radius: 0px;
    border: 1px solid #414852;
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
	font-family: Roboto-Regular;
	
}

.lead .inhalt-lead .title-lead .btn_crear i {
	color: #fff;
	font-size: 18px;
	margin-left: 5px;
	
}

.lead .inhalt-lead .table-lead {
	   border: 0px solid #b3b3b3;
	margin: 20px 0 0 0;	
}


.lead .inhalt-lead .table-lead tbody tr:nth-child(1) td {
	background-color: #ffc627;
	text-align: center;
	font-family: Roboto-Medium;
	color: #fff;
	font-size: 16px;
	border: none;
	border-radius: 0px 0 0;
}

.lead .inhalt-lead .table-lead tbody tr td {
	color: #999999;
	text-align: center;
	font-size: 14px;
	margin: 0px;
	font-family: Roboto-Regular;
	justify-content: center;
	align-content: center;
}

.lead .inhalt-lead .table-lead tbody tr td.nombre_lead {
	color: #ff4c00;
}

.lead .inhalt-lead .table-lead tbody tr td form .form-group {
	margin: 0px;
}

.lead .inhalt-lead .table-lead tbody tr td form .form-group .checkbox {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lead .inhalt-lead .na-pag {
	margin-top: 20px;
}

.lead .inhalt-lead .inhalt-form {
	position: relative;
	padding: 20px 10px;
}


.lead .inhalt-lead .inhalt-form .dropup {
	display: inline-block;
}

.lead .inhalt-lead .inhalt-form .form-group .form-control {
	font-family: Roboto-Light;
	outline: none;
	color: #7c858c;
	border: 1px solid #b2b3b2;
}


.lead .inhalt-lead .inhalt-form .form-group textarea,
.lead .inhalt-lead .inhalt-form .form-group select {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #b2b3b2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.lead .inhalt-lead .inhalt-form .form-group textarea {
	height: 150px;
}

.lead .inhalt-lead .inhalt-form .form-group .form-control::placeholder,
.lead .inhalt-lead .inhalt-form .form-group select::placeholder {
	color: #7c858c;
}

.lead .inhalt-lead .inhalt-form .proyectos_lead {
	display: block;
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
    color: #555;
	margin-bottom: 15px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #b2b3b2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.lead .inhalt-lead .inhalt-form .proyectos_lead p {
	margin: 0px;
	color: #414852;
	font-family: Roboto-Light;
}


.lead .inhalt-lead .inhalt-form .proyectos_lead .checkbox-inline {
	font-family: Roboto-Light;
    width: calc(12% - 0px);
	color: #7c858c;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
	margin: 0px 0 5px ;
}


.historial {
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	position: relative;
}

.historial .inhalt-historial .container-fluid {
	margin: 20px 0 0 ;
}


.historial .inhalt-historial .title-historial {
	background-color: #ffc627;	
	padding: 0px 20px;
	height: 36px;
}

.historial .inhalt-historial .title-historial p {
	color: #fff;
	margin: 6px 0 0 ;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	font-size: 24px;
	font-family: Roboto-Medium;
}

.historial .inhalt-historial .title-historial .btn_crear {
	background-color: #414852;
    color: #fff;
    margin: 0px;
    float: right;
	font-size: 16px;
    padding: 11px 15px;
    border-radius: 0px;
    border: 1px solid #414852;
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
	font-family: Roboto-Regular;
	
}

.historial .inhalt-historial .title-historial .btn_crear i {
	color: #fff;
	font-size: 18px;
	margin-left: 5px;
	
}

.historial .inhalt-historial .inhalt-item_historial {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #c9cccf;
}


.pd-20 {
	padding: 20px;
}

.historial .inhalt-historial .inhalt-item_historial .inhalt_ttx {
	position: relative;
	width: 100%;
	margin: 0px 0 20px;
	text-align: center;
	padding: 0px;
}

.historial .inhalt-historial .inhalt-item_historial .inhalt_ttx::before {
	border: 1px solid #ffc627;
	position: absolute;
	top:50%;
	    width: 100%;
    left: 0px;
    right: 10px;
}

.historial .inhalt-historial .inhalt-item_historial .eddit {
	position: relative;
	width: 100%;
	padding: 10px 5px 5px;
	margin:  0px;
	background-color: #f1f1f1;
	text-align: center;
}
.historial .inhalt-historial .inhalt-item_historial .eddit a {
	text-decoration: none;
}
.historial .inhalt-historial .inhalt-item_historial .eddit a p {
	    color: #7c858c;
    font-family: Roboto-Bold;
    margin: 0px;
    padding: 6px;
    font-size: 25px;
    display: inherit;
    justify-content: center;
    align-self: center;
}
.historial .inhalt-historial .inhalt-item_historial .eddit a img {
	    vertical-align: sub;
}


.historial .inhalt-historial .inhalt-item_historial .inhalt_ttx h2 {
	color: #7c858c;
	margin: 10px 0 6px;
	font-family: Roboto-Bold;
	font-size: 18px;
}

.historial .inhalt-historial .inhalt-item_historial .inhalt_ttx span {
	color: #7c858c;
	margin: 8px 0;
}

.historial .inhalt-historial .table-historial {
	   border: 0px solid #b3b3b3;
	margin: 0px 0 0 0;	
}


.historial .inhalt-historial .na-pag {
	margin: 20px 0 0 0;	
}

.historial .inhalt-historial .table-historial tbody tr:nth-child(1) td {
	background-color: #ffc627;
	text-align: center;
	font-family: Roboto-Medium;
	color: #fff;
	font-size: 16px;
	border: none;
	    line-height: 17px;
	border-radius: 0px 0 0;
}

.historial .inhalt-historial .table-historial tbody tr td {
	color: #999999;
	text-align: center;
	font-size: 14px;
	margin: 0px;
	font-family: Roboto-Regular;
	justify-content: center;
	align-content: center;
}


.historial .inhalt-historial .table-historial tbody tr td strong {
	justify-content: center;
	align-content: center;
	display: inline-flex;
}

.historial .inhalt-historial .table-historial tbody tr td.nombre_lead {
	color: #ff4c00;
}

.historial .inhalt-historial .table-historial tbody tr td form .form-group {
	margin: 0px;
}

.historial .inhalt-historial .table-historial tbody tr td form .form-group .checkbox {
    position: relative;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.inhalt-task {
	position: relative;
	width: 100%;
	padding: 0px;
}

.inhalt-task .inhalt-task_cabezote {
	position: relative;
	padding: 10px 26px 0;
	border-bottom: 1px solid #ffc627;
}

.inhalt-task .inhalt-task_cabezote h4 {
	display: inline-block;
	font-family: Roboto-Bold;
	color: #414852;
}

.inhalt-task .inhalt-task_cabezote .nav {
	display: inline-block;
}

.inhalt-task .inhalt-task_cabezote .nav li {
	display: inline-block;
	    margin-right: -6px;
}

.inhalt-task .inhalt-task_cabezote .nav-tabs > li.active > a,
.inhalt-task .inhalt-task_cabezote .nav-tabs > li.active > a:hover,
.inhalt-task .inhalt-task_cabezote .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #ffc627;
    border: 1px solid #ffc627;
    border-bottom-color: transparent;
}

.inhalt-task .inhalt-task_cabezote .nav > li > a {
    position: relative;
	background-color: #ededed;
    display: block;
    padding: 5px 15px;
	color: #7c858c;
}

.inhalt-task .inhalt-task_cabezote .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px;
}

.inhalt-task .inhalt-form .form-group textarea {
	height: 80px!important;
}


.inhalt-task .inhalt-form .proyectos_lead .checkbox-inline {
    font-family: Roboto-Light;
    width: calc(18% - 0px)!important;
    text-align: center;
	    margin-left: 15px;
	    display: inline;
    color: #7c858c;
}

.inhalt-task .proyectos_lead {
	text-align: center;
}

.close {
    float: right;
    font-size: 4px;
    background-color: #ffc627!important;
    font-weight: bold;
    line-height: 1;
    padding: 4px 7px!important;
    border-radius: 74%!important;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}

button.close span {
	font-size: 23px;
}

.close:hover, .close:focus {
	color: #fff;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative!important;
    bottom: -18px!important;
    z-index: 99!important;
    right: -12px!important;
}

.modal-header {
    padding: 0px;
    border-bottom: 1px solid transparent;
}

.fade.in {
    opacity: 1;
    background-color: rgba(124, 133, 140, 0.6);
}

.calendario .title-calendario {
	background-color: #ffc627;	
	padding: 0px 20px;
	height: 36px;
}

.calendario .title-calendario p {
	color: #fff;
	margin: 6px 0 0 ;
	justify-content: center;
	align-items: center;
	display: inline-flex;
	font-size: 24px;
	font-family: Roboto-Medium;
}

.inhalt-calendario {
	padding: 20px 60px;
}

.inhalt-calendario h2 {
	color: #545759;
	font-family: Roboto-Medium;
	margin: 0px;
	text-align: center;
}


.fc-state-default{
    background-color: #ffc200;
    border: 1px solid #ffc200;
    border-radius: 0px;
    color: #fff;
	background-image: none;
    font-size: 16px;
	text-transform: capitalize;
    font-family: Roboto-Bold;

}

table thead tr td.fc-widget-header {
	background-color: #ffc627;
	text-align: center;
	font-family: Roboto-Medium;
	color: #fff;
	font-size: 16px;
	border: none;
	border-color: transparent!important;
	padding: 10px 0;
	    line-height: 17px;
	border-radius: 0px 0 0;
}

.fc-unthemed th {
	border: none;
}

.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
    background: 0 0;
    border-color: transparent;
    border-bottom: 0;
	font-family: Roboto-Bold;
    background-color: #e2e3e5!important;
    color: #000!important;
}

.fc-unthemed td.fc-today {
    background: rgba(255, 194, 0, 0.3);
}

footer {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color:#414852 ;
	padding: 10px;
	text-align: center;
}

footer p {
	display: inline-block; margin: 0px;
	color: #fff;
	font-family: Roboto-Bold;
}

footer p img {
	margin-left: 10px;
}


footer img {
	display: inline-block;
}

/********************************************************* RESPOSIVO ****************************************************************/
/********************************************************* RESPOSIVO ****************************************************************/
/********************************************************* RESPOSIVO ****************************************************************/
/********************************************************* RESPOSIVO ****************************************************************/
/********************************************************* RESPOSIVO ****************************************************************/
/*
 xs: 767px
 sm: 768px - 991px
 md: 992px - >
*/

@media (min-width: 768px) {
.modal-dialog {
    width: 600px;
    margin: 45px auto 20px;
	}
	
	.table-responsive {
    min-height: inherit!important;
    overflow-x: initial!important;
}
	
	
	.navbar-header {
    float: left;
    width: calc(12.3% - 0px);
    text-align: center;
}
	
}

@media (max-width:768px) {
	
	.main {
        margin-top: 13.5%;
    width: 100%;
    float: none;
}
	
	.navbar-nav {
    float: none!important;
    margin: 0;
    padding: 0px!important;
    height: 100%;
    width: calc(100% - 0px)!important;
    background-color: #414852;
    display: inherit!important;
    justify-content: inherit!important;
    align-items: inherit!important;
}
	
	.logo {
    position: relative!important;
    width: 20%!important;
    text-align: left!important;
    padding: 5px!important;
    margin: 0!important;
	}
	
	.logo img {  max-width: 100%;}
	#desplegar {float: none!important;width: 100%;padding: 0px; margin: 0px;}

	.navbar-header {
		background-color: #ededed;;
	}
	
	.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;}
	
	.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}
	.navbar-toggle {
		top:4px;
	}
	
	.nav > li {
		border-bottom: 2px dashed #7c858c;
	}
	
	.navbar-inverse .navbar-nav > li > a {
		color: #FFF;
    	font-family: Roboto-Bold;
	}
	
	.navbar-inverse .navbar-nav > li > a p {
		margin: 0px;
	}
	
	.navbar-nav li form {
		    padding: 9px 0;
	}
	
	.navbar-nav li form .form-control {
    display: inline-block;
    width: 60%;margin-top: 2px;
		padding: 17px 12px;
	}
	
	.navbar-inverse .navbar-nav .infor-right {
    display: none;
    right: 0px;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: left;
}
	
	.navbar-inverse .navbar-nav .infor-right p {
    margin: 0px;
    font-family: Roboto-Bold;
    color: #fff;
    font-size: 16px;
}
	
	.dropdown {
		display: none;
	}
	
	#desplegar_1 {
		padding: 0px;
		margin: 0px;
	}
	
	.lead .inhalt-lead .title-lead {
	    height: 100%;
	}
	
	.lead .inhalt-lead .title-lead .btn_crear {
    background-color: #414852;
    color: #fff;
    width: 100%;
    margin: 0px;
    float: none;
    font-size: 16px;
    padding: 6px 15px;
    border-radius: 0px;
    border: 1px solid #414852;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: Roboto-Regular;
}
	
	.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: none!important;
}

	.lead .inhalt-lead .inhalt-form .proyectos_lead .checkbox-inline {
    font-family: Roboto-Light;
    width: calc(100% - 0px);
    color: #7c858c;
    padding: 5px 0;
    text-align: center;
}
	
	
	.inhalt-task .inhalt-task_cabezote .nav li {
    display: inline-block;
    margin-right: 0px;
    width: calc(49% - 0px)!important;
    text-align: center!important;
}
	
	.inhalt-task .inhalt-task_cabezote .nav {
    display: inline-block;
    width: 100%;
}
	
	
.inhalt-calendario {
    padding: 10px;
}	
	
	.fc-day-grid-container {
		    height: 337px!important;
	}
	
		
}

.loggin {
	display: none;
}


	

@media only screen and (min-width:767px) and (max-width: 991px) {
	
}
@media only screen and (min-width:992px) and (max-width: 1199px) {
}
@media only screen and (min-width:1200px) and (max-width: 1366px) {
}
@media only screen and (min-width:1367px){
}





@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}