/* CSS Document */
.boxSuperGrid .scrollingtable {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	width: auto; /*set table width here if using fixed value*/
	/*min-width: 100%;*/ /*set table width here if using %*/
	height: 500px; /*set table height here; can be fixed value or %*/
	/*min-height: 104px;*/ /*if using % height, make this at least large enough to fit scrollbar arrows + captions + thead*/
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 15px;
	line-height: 20px;
	padding-top: 20px; /*this determines top caption height*/
	padding-bottom: 20px; /*this determines bottom caption height*/
	text-align: left;
	width:100%;
	color:#000;
}
.boxSuperGrid td{
	height:12px;
	margin:0;
	padding:0;
	color:#000;
	font-size:12px;
}
.boxSuperGrid select{ border:none;}
.boxSuperGrid input, .boxSuperGrid select{
	font-size:11px;
	color:#000;
	height:14px;
}
.boxSuperGrid .scrollingtable * {box-sizing: border-box;}
.boxSuperGrid .scrollingtable > div {
	position: relative;
	border-top: 1px solid black; /*top table border*/
	height: 100%;
	padding-top: 20px; /*this determines column header height*/
	background-color:#5A5A5A;
	color:#FFF;
}
.boxSuperGrid .scrollingtable > div:before {
	top: 0;
	background: cornflowerblue; /*column header background color*/
}
.boxSuperGrid .scrollingtable > div:before,
.boxSuperGrid .scrollingtable > div > div:after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 50%;
	left: 0;
}
.boxSuperGrid .scrollingtable > div > div {
	/*min-height: 43px;*/ /*if using % height, make this at least large enough to fit scrollbar arrows*/
	max-height: 100%;
	overflow: scroll; /*set to auto if using fixed or % width; else scroll*/
	overflow-x: hidden;
	border: 1px solid black; /*border around table body*/
}
.boxSuperGrid .scrollingtable > div > div:after {background: white;} /*match page background color*/
.boxSuperGrid .scrollingtable > div > div > table {
	width: 100%;
	border-spacing: 0;
	margin-top: -20px; /*inverse of column header height*/
	/*margin-right: 17px;*/ /*uncomment if using % width*/
}
.boxSuperGrid .scrollingtable > div > div > table > caption {
	position: absolute;
	top: -20px; /*inverse of caption height*/
	margin-top: -1px; /*inverse of border-width*/
	width: 100%;
	font-weight: bold;
	text-align: center;
}
.boxSuperGrid .scrollingtable > div > div > table > * > tr > * {padding: 0;}
.boxSuperGrid .scrollingtable thead th {
	background-color:red;
}
.boxSuperGrid .scrollingtable > div > div > table > thead {
	vertical-align: bottom;
	white-space: nowrap;
	text-align: center;
	background-color:#F5F5F5;
}
.boxSuperGrid .scrollingtable > div > div > table > thead > tr > * > div {
	display: inline-block;
	padding: 0 6px 0 6px; /*header cell padding*/
}
.boxSuperGrid .scrollingtable > div > div > table > thead > tr > :first-child:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 0px; /*match column header height*/
	border-left: 1px solid black; /*leftmost header border*/
}
.boxSuperGrid .scrollingtable > div > div > table > thead > tr > * > div[label]:before,
.boxSuperGrid .scrollingtable > div > div > table > thead > tr > * > div > div:first-child,
.boxSuperGrid .scrollingtable > div > div > table > thead > tr > * + :before {
	position: absolute;
	top: 0;
	white-space: pre-wrap;
	color: white; /*header row font color*/
}
.boxSuperGrid .scrollingtable > div > div > table > thead > tr > * > div[label]:before,
.boxSuperGrid .scrollingtable > div > div > table > thead > tr > * > div[label]:after {content: attr(label);}
.boxSuperGrid .scrollingtable > div > div > table > thead > tr > * + :before {
	content: "";
	display: block;
	min-height: 5px; /*match column header height*/
	padding-top: 0px;
	border-left: 0px solid black; /*borders between header cells*/
}
.boxSuperGrid .scrollingtable .scrollbarhead {float: right;}
.boxSuperGrid .scrollingtable .scrollbarhead:before {
	position: absolute;
	width: 100px;
	top: -1px; /*inverse border-width*/
	background: white; /*match page background color*/
}
.boxSuperGrid .scrollingtable > div > div > table > tbody > tr:after {
	content: "";
	display: table-cell;
	position: relative;
	padding: 0;
	border-top: 1px solid black;
	top: -1px; /*inverse of border width*/
}
.boxSuperGrid .scrollingtable > div > div > table > tbody {vertical-align: top;}
.boxSuperGrid .scrollingtable > div > div > table > tbody > tr {background: white;}
.boxSuperGrid .scrollingtable > div > div > table > tbody > tr > * {
	border-bottom: 1px solid #D4D4D4;
	padding: 0 0px 0 0px;
	height: 10px; /*match column header height*/
}
.boxSuperGrid .scrollingtable > div > div > table > tbody:last-of-type > tr:last-child > * {border-bottom: none;}
.boxSuperGrid .scrollingtable > div > div > table > tbody > tr:nth-child(even) {background: gainsboro;} /*alternate row color*/
.boxSuperGrid .scrollingtable > div > div > table > tbody > tr > * + * {border-left: 1px solid #D4D4D4;} /*borders between body cells*/
.boxSuperGrid .bodyCtr{
	display:none;
}
.boxSuperGrid .scrollingtable input[type=text], .boxSuperGrid .scrollingtable select{
	background-color:transparent;
	width:100%;
	height:100%;
}
.boxSuperGrid .scrollingtable select{
	width:100%;
}
.boxSuperGrid .boxSuperGrid{
	position:relative;
}
.boxSuperGrid .boxSuperGrid .messageBox{
	position:absolute;
	width:100%;
	background-color:#000;
	color:#FFF;
	height:100%;
	z-index:1;
	display:none;
}
.boxSuperGrid .boxSuperGrid .contenidoMSG{
	padding:10px;
}
.boxSuperGrid .liResul{
	list-style:none;
}
.boxSuperGrid .liResult div{
	float:left;
	margin-right:30px;
}
.boxSuperGrid .liResult .clA{
	width:30%;
}
.boxSuperGrid .liResult .clB{
	width:60%;
}
.boxSuperGrid #campoInfo{
	display:none;
}
.boxSuperGrid .containerMS .bodyCtr{
	position: absolute;
    background-color:#000;
    left: 0;
    top: 0;
    padding: 100px;
    width: 100%;
    height: 100%;
}
.boxSuperGrid .containerMS .bodyCtr .contentCtrl{
	position:absolute;
	background-color:#FFF;
	left:45%;
	top:20%;
	padding:10px;
}
.boxSuperGrid .containerMS .bodyCtr label{
    display: block;
    width: 100%;
    word-break: break-all;
}
.boxSuperGrid tr td:first-child{
	background-color:#5A5A5A;
}

/*
	CABEZOTE DE LA TABLA
*/
.boxSuperGrid .cabezote input{
	height:25px;
}
.boxSuperGrid .cabezote select{
	height:22px;
	color:#000;
}
