@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cc29dm');
  src:  url('fonts/icomoon.eot?cc29dm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cc29dm') format('truetype'),
    url('fonts/icomoon.woff?cc29dm') format('woff'),
    url('fonts/icomoon.svg?cc29dm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mesa-de-ayuda:before {
  content: "\e904";
}
.icon-sonda:before {
  content: "\e905";
}
.icon-aplicativos:before {
  content: "\e900";
}
.icon-autogestion:before {
  content: "\e901";
}
.icon-directorio:before {
  content: "\e902";
}
.icon-eventos:before {
  content: "\e903";
}
