.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
  opacity: .7;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-ad {
  background-image: url(../img/flags/4x3/ad.svg);
}
.flag-icon-ad.flag-icon-squared {
  background-image: url(../img/flags/1x1/ad.svg);
}
.flag-icon-ae {
  background-image: url(../img/flags/4x3/ae.svg);
}
.flag-icon-ae.flag-icon-squared {
  background-image: url(../img/flags/1x1/ae.svg);
}
.flag-icon-af {
  background-image: url(../img/flags/4x3/af.svg);
}
.flag-icon-af.flag-icon-squared {
  background-image: url(../img/flags/1x1/af.svg);
}
.flag-icon-ag {
  background-image: url(../img/flags/4x3/ag.svg);
}
.flag-icon-ag.flag-icon-squared {
  background-image: url(../img/flags/1x1/ag.svg);
}
.flag-icon-ai {
  background-image: url(../img/flags/4x3/ai.svg);
}
.flag-icon-ai.flag-icon-squared {
  background-image: url(../img/flags/1x1/ai.svg);
}
.flag-icon-al {
  background-image: url(../img/flags/4x3/al.svg);
}
.flag-icon-al.flag-icon-squared {
  background-image: url(../img/flags/1x1/al.svg);
}
.flag-icon-am {
  background-image: url(../img/flags/4x3/am.svg);
}
.flag-icon-am.flag-icon-squared {
  background-image: url(../img/flags/1x1/am.svg);
}
.flag-icon-ao {
  background-image: url(../img/flags/4x3/ao.svg);
}
.flag-icon-ao.flag-icon-squared {
  background-image: url(../img/flags/1x1/ao.svg);
}
.flag-icon-aq {
  background-image: url(../img/flags/4x3/aq.svg);
}
.flag-icon-aq.flag-icon-squared {
  background-image: url(../img/flags/1x1/aq.svg);
}
.flag-icon-ar {
  background-image: url(../img/flags/4x3/ar.svg);
}
.flag-icon-ar.flag-icon-squared {
  background-image: url(../img/flags/1x1/ar.svg);
}
.flag-icon-as {
  background-image: url(../img/flags/4x3/as.svg);
}
.flag-icon-as.flag-icon-squared {
  background-image: url(../img/flags/1x1/as.svg);
}
.flag-icon-at {
  background-image: url(../img/flags/4x3/at.svg);
}
.flag-icon-at.flag-icon-squared {
  background-image: url(../img/flags/1x1/at.svg);
}
.flag-icon-au {
  background-image: url(../img/flags/4x3/au.svg);
}
.flag-icon-au.flag-icon-squared {
  background-image: url(../img/flags/1x1/au.svg);
}
.flag-icon-aw {
  background-image: url(../img/flags/4x3/aw.svg);
}
.flag-icon-aw.flag-icon-squared {
  background-image: url(../img/flags/1x1/aw.svg);
}
.flag-icon-ax {
  background-image: url(../img/flags/4x3/ax.svg);
}
.flag-icon-ax.flag-icon-squared {
  background-image: url(../img/flags/1x1/ax.svg);
}
.flag-icon-az {
  background-image: url(../img/flags/4x3/az.svg);
}
.flag-icon-az.flag-icon-squared {
  background-image: url(../img/flags/1x1/az.svg);
}
.flag-icon-ba {
  background-image: url(../img/flags/4x3/ba.svg);
}
.flag-icon-ba.flag-icon-squared {
  background-image: url(../img/flags/1x1/ba.svg);
}
.flag-icon-bb {
  background-image: url(../img/flags/4x3/bb.svg);
}
.flag-icon-bb.flag-icon-squared {
  background-image: url(../img/flags/1x1/bb.svg);
}
.flag-icon-bd {
  background-image: url(../img/flags/4x3/bd.svg);
}
.flag-icon-bd.flag-icon-squared {
  background-image: url(../img/flags/1x1/bd.svg);
}
.flag-icon-be {
  background-image: url(../img/flags/4x3/be.svg);
}
.flag-icon-be.flag-icon-squared {
  background-image: url(../img/flags/1x1/be.svg);
}
.flag-icon-bf {
  background-image: url(../img/flags/4x3/bf.svg);
}
.flag-icon-bf.flag-icon-squared {
  background-image: url(../img/flags/1x1/bf.svg);
}
.flag-icon-bg {
  background-image: url(../img/flags/4x3/bg.svg);
}
.flag-icon-bg.flag-icon-squared {
  background-image: url(../img/flags/1x1/bg.svg);
}
.flag-icon-bh {
  background-image: url(../img/flags/4x3/bh.svg);
}
.flag-icon-bh.flag-icon-squared {
  background-image: url(../img/flags/1x1/bh.svg);
}
.flag-icon-bi {
  background-image: url(../img/flags/4x3/bi.svg);
}
.flag-icon-bi.flag-icon-squared {
  background-image: url(../img/flags/1x1/bi.svg);
}
.flag-icon-bj {
  background-image: url(../img/flags/4x3/bj.svg);
}
.flag-icon-bj.flag-icon-squared {
  background-image: url(../img/flags/1x1/bj.svg);
}
.flag-icon-bl {
  background-image: url(../img/flags/4x3/bl.svg);
}
.flag-icon-bl.flag-icon-squared {
  background-image: url(../img/flags/1x1/bl.svg);
}
.flag-icon-bm {
  background-image: url(../img/flags/4x3/bm.svg);
}
.flag-icon-bm.flag-icon-squared {
  background-image: url(../img/flags/1x1/bm.svg);
}
.flag-icon-bn {
  background-image: url(../img/flags/4x3/bn.svg);
}
.flag-icon-bn.flag-icon-squared {
  background-image: url(../img/flags/1x1/bn.svg);
}
.flag-icon-bo {
  background-image: url(../img/flags/4x3/bo.svg);
}
.flag-icon-bo.flag-icon-squared {
  background-image: url(../img/flags/1x1/bo.svg);
}
.flag-icon-bq {
  background-image: url(../img/flags/4x3/bq.svg);
}
.flag-icon-bq.flag-icon-squared {
  background-image: url(../img/flags/1x1/bq.svg);
}
.flag-icon-br {
  background-image: url(../img/flags/4x3/br.svg);
}
.flag-icon-br.flag-icon-squared {
  background-image: url(../img/flags/1x1/br.svg);
}
.flag-icon-bs {
  background-image: url(../img/flags/4x3/bs.svg);
}
.flag-icon-bs.flag-icon-squared {
  background-image: url(../img/flags/1x1/bs.svg);
}
.flag-icon-bt {
  background-image: url(../img/flags/4x3/bt.svg);
}
.flag-icon-bt.flag-icon-squared {
  background-image: url(../img/flags/1x1/bt.svg);
}
.flag-icon-bv {
  background-image: url(../img/flags/4x3/bv.svg);
}
.flag-icon-bv.flag-icon-squared {
  background-image: url(../img/flags/1x1/bv.svg);
}
.flag-icon-bw {
  background-image: url(../img/flags/4x3/bw.svg);
}
.flag-icon-bw.flag-icon-squared {
  background-image: url(../img/flags/1x1/bw.svg);
}
.flag-icon-by {
  background-image: url(../img/flags/4x3/by.svg);
}
.flag-icon-by.flag-icon-squared {
  background-image: url(../img/flags/1x1/by.svg);
}
.flag-icon-bz {
  background-image: url(../img/flags/4x3/bz.svg);
}
.flag-icon-bz.flag-icon-squared {
  background-image: url(../img/flags/1x1/bz.svg);
}
.flag-icon-ca {
  background-image: url(../img/flags/4x3/ca.svg);
}
.flag-icon-ca.flag-icon-squared {
  background-image: url(../img/flags/1x1/ca.svg);
}
.flag-icon-cc {
  background-image: url(../img/flags/4x3/cc.svg);
}
.flag-icon-cc.flag-icon-squared {
  background-image: url(../img/flags/1x1/cc.svg);
}
.flag-icon-cd {
  background-image: url(../img/flags/4x3/cd.svg);
}
.flag-icon-cd.flag-icon-squared {
  background-image: url(../img/flags/1x1/cd.svg);
}
.flag-icon-cf {
  background-image: url(../img/flags/4x3/cf.svg);
}
.flag-icon-cf.flag-icon-squared {
  background-image: url(../img/flags/1x1/cf.svg);
}
.flag-icon-cg {
  background-image: url(../img/flags/4x3/cg.svg);
}
.flag-icon-cg.flag-icon-squared {
  background-image: url(../img/flags/1x1/cg.svg);
}
.flag-icon-ch {
  background-image: url(../img/flags/4x3/ch.svg);
}
.flag-icon-ch.flag-icon-squared {
  background-image: url(../img/flags/1x1/ch.svg);
}
.flag-icon-ci {
  background-image: url(../img/flags/4x3/ci.svg);
}
.flag-icon-ci.flag-icon-squared {
  background-image: url(../img/flags/1x1/ci.svg);
}
.flag-icon-ck {
  background-image: url(../img/flags/4x3/ck.svg);
}
.flag-icon-ck.flag-icon-squared {
  background-image: url(../img/flags/1x1/ck.svg);
}
.flag-icon-cl {
  background-image: url(../img/flags/4x3/cl.svg);
}
.flag-icon-cl.flag-icon-squared {
  background-image: url(../img/flags/1x1/cl.svg);
}
.flag-icon-cm {
  background-image: url(../img/flags/4x3/cm.svg);
}
.flag-icon-cm.flag-icon-squared {
  background-image: url(../img/flags/1x1/cm.svg);
}
.flag-icon-cn {
  background-image: url(../img/flags/4x3/cn.svg);
}
.flag-icon-cn.flag-icon-squared {
  background-image: url(../img/flags/1x1/cn.svg);
}
.flag-icon-co {
  background-image: url(../img/flags/4x3/co.svg);
}
.flag-icon-co.flag-icon-squared {
  background-image: url(../img/flags/1x1/co.svg);
}
.flag-icon-cr {
  background-image: url(../img/flags/4x3/cr.svg);
}
.flag-icon-cr.flag-icon-squared {
  background-image: url(../img/flags/1x1/cr.svg);
}
.flag-icon-cu {
  background-image: url(../img/flags/4x3/cu.svg);
}
.flag-icon-cu.flag-icon-squared {
  background-image: url(../img/flags/1x1/cu.svg);
}
.flag-icon-cv {
  background-image: url(../img/flags/4x3/cv.svg);
}
.flag-icon-cv.flag-icon-squared {
  background-image: url(../img/flags/1x1/cv.svg);
}
.flag-icon-cw {
  background-image: url(../img/flags/4x3/cw.svg);
}
.flag-icon-cw.flag-icon-squared {
  background-image: url(../img/flags/1x1/cw.svg);
}
.flag-icon-cx {
  background-image: url(../img/flags/4x3/cx.svg);
}
.flag-icon-cx.flag-icon-squared {
  background-image: url(../img/flags/1x1/cx.svg);
}
.flag-icon-cy {
  background-image: url(../img/flags/4x3/cy.svg);
}
.flag-icon-cy.flag-icon-squared {
  background-image: url(../img/flags/1x1/cy.svg);
}
.flag-icon-cz {
  background-image: url(../img/flags/4x3/cz.svg);
}
.flag-icon-cz.flag-icon-squared {
  background-image: url(../img/flags/1x1/cz.svg);
}
.flag-icon-de {
  background-image: url(../img/flags/4x3/de.svg);
}
.flag-icon-de.flag-icon-squared {
  background-image: url(../img/flags/1x1/de.svg);
}
.flag-icon-dj {
  background-image: url(../img/flags/4x3/dj.svg);
}
.flag-icon-dj.flag-icon-squared {
  background-image: url(../img/flags/1x1/dj.svg);
}
.flag-icon-dk {
  background-image: url(../img/flags/4x3/dk.svg);
}
.flag-icon-dk.flag-icon-squared {
  background-image: url(../img/flags/1x1/dk.svg);
}
.flag-icon-dm {
  background-image: url(../img/flags/4x3/dm.svg);
}
.flag-icon-dm.flag-icon-squared {
  background-image: url(../img/flags/1x1/dm.svg);
}
.flag-icon-do {
  background-image: url(../img/flags/4x3/do.svg);
}
.flag-icon-do.flag-icon-squared {
  background-image: url(../img/flags/1x1/do.svg);
}
.flag-icon-dz {
  background-image: url(../img/flags/4x3/dz.svg);
}
.flag-icon-dz.flag-icon-squared {
  background-image: url(../img/flags/1x1/dz.svg);
}
.flag-icon-ec {
  background-image: url(../img/flags/4x3/ec.svg);
}
.flag-icon-ec.flag-icon-squared {
  background-image: url(../img/flags/1x1/ec.svg);
}
.flag-icon-ee {
  background-image: url(../img/flags/4x3/ee.svg);
}
.flag-icon-ee.flag-icon-squared {
  background-image: url(../img/flags/1x1/ee.svg);
}
.flag-icon-eg {
  background-image: url(../img/flags/4x3/eg.svg);
}
.flag-icon-eg.flag-icon-squared {
  background-image: url(../img/flags/1x1/eg.svg);
}
.flag-icon-eh {
  background-image: url(../img/flags/4x3/eh.svg);
}
.flag-icon-eh.flag-icon-squared {
  background-image: url(../img/flags/1x1/eh.svg);
}
.flag-icon-er {
  background-image: url(../img/flags/4x3/er.svg);
}
.flag-icon-er.flag-icon-squared {
  background-image: url(../img/flags/1x1/er.svg);
}
.flag-icon-es {
  background-image: url(../img/flags/4x3/es.svg);
}
.flag-icon-es.flag-icon-squared {
  background-image: url(../img/flags/1x1/es.svg);
}
.flag-icon-et {
  background-image: url(../img/flags/4x3/et.svg);
}
.flag-icon-et.flag-icon-squared {
  background-image: url(../img/flags/1x1/et.svg);
}
.flag-icon-fi {
  background-image: url(../img/flags/4x3/fi.svg);
}
.flag-icon-fi.flag-icon-squared {
  background-image: url(../img/flags/1x1/fi.svg);
}
.flag-icon-fj {
  background-image: url(../img/flags/4x3/fj.svg);
}
.flag-icon-fj.flag-icon-squared {
  background-image: url(../img/flags/1x1/fj.svg);
}
.flag-icon-fk {
  background-image: url(../img/flags/4x3/fk.svg);
}
.flag-icon-fk.flag-icon-squared {
  background-image: url(../img/flags/1x1/fk.svg);
}
.flag-icon-fm {
  background-image: url(../img/flags/4x3/fm.svg);
}
.flag-icon-fm.flag-icon-squared {
  background-image: url(../img/flags/1x1/fm.svg);
}
.flag-icon-fo {
  background-image: url(../img/flags/4x3/fo.svg);
}
.flag-icon-fo.flag-icon-squared {
  background-image: url(../img/flags/1x1/fo.svg);
}
.flag-icon-fr {

  background-image: url(../img/flags/4x3/fr.svg);
}
.flag-icon-fr.flag-icon-squared {
  background-image: url(../img/flags/1x1/fr.svg);
}
.flag-icon-ga {
  background-image: url(../img/flags/4x3/ga.svg);
}
.flag-icon-ga.flag-icon-squared {
  background-image: url(../img/flags/1x1/ga.svg);
}
.flag-icon-gb {
  background-image: url(../img/flags/4x3/gb.svg);
}
.flag-icon-gb.flag-icon-squared {
  background-image: url(../img/flags/1x1/gb.svg);
}
.flag-icon-gd {
  background-image: url(../img/flags/4x3/gd.svg);
}
.flag-icon-gd.flag-icon-squared {
  background-image: url(../img/flags/1x1/gd.svg);
}
.flag-icon-ge {
  background-image: url(../img/flags/4x3/ge.svg);
}
.flag-icon-ge.flag-icon-squared {
  background-image: url(../img/flags/1x1/ge.svg);
}
.flag-icon-gf {
  background-image: url(../img/flags/4x3/gf.svg);
}
.flag-icon-gf.flag-icon-squared {
  background-image: url(../img/flags/1x1/gf.svg);
}
.flag-icon-gg {
  background-image: url(../img/flags/4x3/gg.svg);
}
.flag-icon-gg.flag-icon-squared {
  background-image: url(../img/flags/1x1/gg.svg);
}
.flag-icon-gh {
  background-image: url(../img/flags/4x3/gh.svg);
}
.flag-icon-gh.flag-icon-squared {
  background-image: url(../img/flags/1x1/gh.svg);
}
.flag-icon-gi {
  background-image: url(../img/flags/4x3/gi.svg);
}
.flag-icon-gi.flag-icon-squared {
  background-image: url(../img/flags/1x1/gi.svg);
}
.flag-icon-gl {
  background-image: url(../img/flags/4x3/gl.svg);
}
.flag-icon-gl.flag-icon-squared {
  background-image: url(../img/flags/1x1/gl.svg);
}
.flag-icon-gm {
  background-image: url(../img/flags/4x3/gm.svg);
}
.flag-icon-gm.flag-icon-squared {
  background-image: url(../img/flags/1x1/gm.svg);
}
.flag-icon-gn {
  background-image: url(../img/flags/4x3/gn.svg);
}
.flag-icon-gn.flag-icon-squared {
  background-image: url(../img/flags/1x1/gn.svg);
}
.flag-icon-gp {
  background-image: url(../img/flags/4x3/gp.svg);
}
.flag-icon-gp.flag-icon-squared {
  background-image: url(../img/flags/1x1/gp.svg);
}
.flag-icon-gq {
  background-image: url(../img/flags/4x3/gq.svg);
}
.flag-icon-gq.flag-icon-squared {
  background-image: url(../img/flags/1x1/gq.svg);
}
.flag-icon-gr {
  background-image: url(../img/flags/4x3/gr.svg);
}
.flag-icon-gr.flag-icon-squared {
  background-image: url(../img/flags/1x1/gr.svg);
}
.flag-icon-gs {
  background-image: url(../img/flags/4x3/gs.svg);
}
.flag-icon-gs.flag-icon-squared {
  background-image: url(../img/flags/1x1/gs.svg);
}
.flag-icon-gt {
  background-image: url(../img/flags/4x3/gt.svg);
}
.flag-icon-gt.flag-icon-squared {
  background-image: url(../img/flags/1x1/gt.svg);
}
.flag-icon-gu {
  background-image: url(../img/flags/4x3/gu.svg);
}
.flag-icon-gu.flag-icon-squared {
  background-image: url(../img/flags/1x1/gu.svg);
}
.flag-icon-gw {
  background-image: url(../img/flags/4x3/gw.svg);
}
.flag-icon-gw.flag-icon-squared {
  background-image: url(../img/flags/1x1/gw.svg);
}
.flag-icon-gy {
  background-image: url(../img/flags/4x3/gy.svg);
}
.flag-icon-gy.flag-icon-squared {
  background-image: url(../img/flags/1x1/gy.svg);
}
.flag-icon-hk {
  background-image: url(../img/flags/4x3/hk.svg);
}
.flag-icon-hk.flag-icon-squared {
  background-image: url(../img/flags/1x1/hk.svg);
}
.flag-icon-hm {
  background-image: url(../img/flags/4x3/hm.svg);
}
.flag-icon-hm.flag-icon-squared {
  background-image: url(../img/flags/1x1/hm.svg);
}
.flag-icon-hn {
  background-image: url(../img/flags/4x3/hn.svg);
}
.flag-icon-hn.flag-icon-squared {
  background-image: url(../img/flags/1x1/hn.svg);
}
.flag-icon-hr {
  background-image: url(../img/flags/4x3/hr.svg);
}
.flag-icon-hr.flag-icon-squared {
  background-image: url(../img/flags/1x1/hr.svg);
}
.flag-icon-ht {
  background-image: url(../img/flags/4x3/ht.svg);
}
.flag-icon-ht.flag-icon-squared {
  background-image: url(../img/flags/1x1/ht.svg);
}
.flag-icon-hu {
  background-image: url(../img/flags/4x3/hu.svg);
}
.flag-icon-hu.flag-icon-squared {
  background-image: url(../img/flags/1x1/hu.svg);
}
.flag-icon-id {
  background-image: url(../img/flags/4x3/id.svg);
}
.flag-icon-id.flag-icon-squared {
  background-image: url(../img/flags/1x1/id.svg);
}
.flag-icon-ie {
  background-image: url(../img/flags/4x3/ie.svg);
}
.flag-icon-ie.flag-icon-squared {
  background-image: url(../img/flags/1x1/ie.svg);
}
.flag-icon-il {
  background-image: url(../img/flags/4x3/il.svg);
}
.flag-icon-il.flag-icon-squared {
  background-image: url(../img/flags/1x1/il.svg);
}
.flag-icon-im {
  background-image: url(../img/flags/4x3/im.svg);
}
.flag-icon-im.flag-icon-squared {
  background-image: url(../img/flags/1x1/im.svg);
}
.flag-icon-in {
  background-image: url(../img/flags/4x3/in.svg);
}
.flag-icon-in.flag-icon-squared {
  background-image: url(../img/flags/1x1/in.svg);
}
.flag-icon-io {
  background-image: url(../img/flags/4x3/io.svg);
}
.flag-icon-io.flag-icon-squared {
  background-image: url(../img/flags/1x1/io.svg);
}
.flag-icon-iq {
  background-image: url(../img/flags/4x3/iq.svg);
}
.flag-icon-iq.flag-icon-squared {
  background-image: url(../img/flags/1x1/iq.svg);
}
.flag-icon-ir {
  background-image: url(../img/flags/4x3/ir.svg);
}
.flag-icon-ir.flag-icon-squared {
  background-image: url(../img/flags/1x1/ir.svg);
}
.flag-icon-is {
  background-image: url(../img/flags/4x3/is.svg);
}
.flag-icon-is.flag-icon-squared {
  background-image: url(../img/flags/1x1/is.svg);
}
.flag-icon-it {
  background-image: url(../img/flags/4x3/it.svg);
}
.flag-icon-it.flag-icon-squared {
  background-image: url(../img/flags/1x1/it.svg);
}
.flag-icon-je {
  background-image: url(../img/flags/4x3/je.svg);
}
.flag-icon-je.flag-icon-squared {
  background-image: url(../img/flags/1x1/je.svg);
}
.flag-icon-jm {
  background-image: url(../img/flags/4x3/jm.svg);
}
.flag-icon-jm.flag-icon-squared {
  background-image: url(../img/flags/1x1/jm.svg);
}
.flag-icon-jo {
  background-image: url(../img/flags/4x3/jo.svg);
}
.flag-icon-jo.flag-icon-squared {
  background-image: url(../img/flags/1x1/jo.svg);
}
.flag-icon-jp {
  background-image: url(../img/flags/4x3/jp.svg);
}
.flag-icon-jp.flag-icon-squared {
  background-image: url(../img/flags/1x1/jp.svg);
}
.flag-icon-ke {
  background-image: url(../img/flags/4x3/ke.svg);
}
.flag-icon-ke.flag-icon-squared {
  background-image: url(../img/flags/1x1/ke.svg);
}
.flag-icon-kg {
  background-image: url(../img/flags/4x3/kg.svg);
}
.flag-icon-kg.flag-icon-squared {
  background-image: url(../img/flags/1x1/kg.svg);
}
.flag-icon-kh {
  background-image: url(../img/flags/4x3/kh.svg);
}
.flag-icon-kh.flag-icon-squared {
  background-image: url(../img/flags/1x1/kh.svg);
}
.flag-icon-ki {
  background-image: url(../img/flags/4x3/ki.svg);
}
.flag-icon-ki.flag-icon-squared {
  background-image: url(../img/flags/1x1/ki.svg);
}
.flag-icon-km {
  background-image: url(../img/flags/4x3/km.svg);
}
.flag-icon-km.flag-icon-squared {
  background-image: url(../img/flags/1x1/km.svg);
}
.flag-icon-kn {
  background-image: url(../img/flags/4x3/kn.svg);
}
.flag-icon-kn.flag-icon-squared {
  background-image: url(../img/flags/1x1/kn.svg);
}
.flag-icon-kp {
  background-image: url(../img/flags/4x3/kp.svg);
}
.flag-icon-kp.flag-icon-squared {
  background-image: url(../img/flags/1x1/kp.svg);
}
.flag-icon-kr {
  background-image: url(../img/flags/4x3/kr.svg);
}
.flag-icon-kr.flag-icon-squared {
  background-image: url(../img/flags/1x1/kr.svg);
}
.flag-icon-kw {
  background-image: url(../img/flags/4x3/kw.svg);
}
.flag-icon-kw.flag-icon-squared {
  background-image: url(../img/flags/1x1/kw.svg);
}
.flag-icon-ky {
  background-image: url(../img/flags/4x3/ky.svg);
}
.flag-icon-ky.flag-icon-squared {
  background-image: url(../img/flags/1x1/ky.svg);
}
.flag-icon-kz {
  background-image: url(../img/flags/4x3/kz.svg);
}
.flag-icon-kz.flag-icon-squared {
  background-image: url(../img/flags/1x1/kz.svg);
}
.flag-icon-la {
  background-image: url(../img/flags/4x3/la.svg);
}
.flag-icon-la.flag-icon-squared {
  background-image: url(../img/flags/1x1/la.svg);
}
.flag-icon-lb {
  background-image: url(../img/flags/4x3/lb.svg);
}
.flag-icon-lb.flag-icon-squared {
  background-image: url(../img/flags/1x1/lb.svg);
}
.flag-icon-lc {
  background-image: url(../img/flags/4x3/lc.svg);
}
.flag-icon-lc.flag-icon-squared {
  background-image: url(../img/flags/1x1/lc.svg);
}
.flag-icon-li {
  background-image: url(../img/flags/4x3/li.svg);
}
.flag-icon-li.flag-icon-squared {
  background-image: url(../img/flags/1x1/li.svg);
}
.flag-icon-lk {
  background-image: url(../img/flags/4x3/lk.svg);
}
.flag-icon-lk.flag-icon-squared {
  background-image: url(../img/flags/1x1/lk.svg);
}
.flag-icon-lr {
  background-image: url(../img/flags/4x3/lr.svg);
}
.flag-icon-lr.flag-icon-squared {
  background-image: url(../img/flags/1x1/lr.svg);
}
.flag-icon-ls {
  background-image: url(../img/flags/4x3/ls.svg);
}
.flag-icon-ls.flag-icon-squared {
  background-image: url(../img/flags/1x1/ls.svg);
}
.flag-icon-lt {
  background-image: url(../img/flags/4x3/lt.svg);
}
.flag-icon-lt.flag-icon-squared {
  background-image: url(../img/flags/1x1/lt.svg);
}
.flag-icon-lu {
  background-image: url(../img/flags/4x3/lu.svg);
}
.flag-icon-lu.flag-icon-squared {
  background-image: url(../img/flags/1x1/lu.svg);
}
.flag-icon-lv {
  background-image: url(../img/flags/4x3/lv.svg);
}
.flag-icon-lv.flag-icon-squared {
  background-image: url(../img/flags/1x1/lv.svg);
}
.flag-icon-ly {
  background-image: url(../img/flags/4x3/ly.svg);
}
.flag-icon-ly.flag-icon-squared {
  background-image: url(../img/flags/1x1/ly.svg);
}
.flag-icon-ma {
  background-image: url(../img/flags/4x3/ma.svg);
}
.flag-icon-ma.flag-icon-squared {
  background-image: url(../img/flags/1x1/ma.svg);
}
.flag-icon-mc {
  background-image: url(../img/flags/4x3/mc.svg);
}
.flag-icon-mc.flag-icon-squared {
  background-image: url(../img/flags/1x1/mc.svg);
}
.flag-icon-md {
  background-image: url(../img/flags/4x3/md.svg);
}
.flag-icon-md.flag-icon-squared {
  background-image: url(../img/flags/1x1/md.svg);
}
.flag-icon-me {
  background-image: url(../img/flags/4x3/me.svg);
}
.flag-icon-me.flag-icon-squared {
  background-image: url(../img/flags/1x1/me.svg);
}
.flag-icon-mf {
  background-image: url(../img/flags/4x3/mf.svg);
}
.flag-icon-mf.flag-icon-squared {
  background-image: url(../img/flags/1x1/mf.svg);
}
.flag-icon-mg {
  background-image: url(../img/flags/4x3/mg.svg);
}
.flag-icon-mg.flag-icon-squared {
  background-image: url(../img/flags/1x1/mg.svg);
}
.flag-icon-mh {
  background-image: url(../img/flags/4x3/mh.svg);
}
.flag-icon-mh.flag-icon-squared {
  background-image: url(../img/flags/1x1/mh.svg);
}
.flag-icon-mk {
  background-image: url(../img/flags/4x3/mk.svg);
}
.flag-icon-mk.flag-icon-squared {
  background-image: url(../img/flags/1x1/mk.svg);
}
.flag-icon-ml {
  background-image: url(../img/flags/4x3/ml.svg);
}
.flag-icon-ml.flag-icon-squared {
  background-image: url(../img/flags/1x1/ml.svg);
}
.flag-icon-mm {
  background-image: url(../img/flags/4x3/mm.svg);
}
.flag-icon-mm.flag-icon-squared {
  background-image: url(../img/flags/1x1/mm.svg);
}
.flag-icon-mn {
  background-image: url(../img/flags/4x3/mn.svg);
}
.flag-icon-mn.flag-icon-squared {
  background-image: url(../img/flags/1x1/mn.svg);
}
.flag-icon-mo {
  background-image: url(../img/flags/4x3/mo.svg);
}
.flag-icon-mo.flag-icon-squared {
  background-image: url(../img/flags/1x1/mo.svg);
}
.flag-icon-mp {
  background-image: url(../img/flags/4x3/mp.svg);
}
.flag-icon-mp.flag-icon-squared {
  background-image: url(../img/flags/1x1/mp.svg);
}
.flag-icon-mq {
  background-image: url(../img/flags/4x3/mq.svg);
}
.flag-icon-mq.flag-icon-squared {
  background-image: url(../img/flags/1x1/mq.svg);
}
.flag-icon-mr {
  background-image: url(../img/flags/4x3/mr.svg);
}
.flag-icon-mr.flag-icon-squared {
  background-image: url(../img/flags/1x1/mr.svg);
}
.flag-icon-ms {
  background-image: url(../img/flags/4x3/ms.svg);
}
.flag-icon-ms.flag-icon-squared {
  background-image: url(../img/flags/1x1/ms.svg);
}
.flag-icon-mt {
  background-image: url(../img/flags/4x3/mt.svg);
}
.flag-icon-mt.flag-icon-squared {
  background-image: url(../img/flags/1x1/mt.svg);
}
.flag-icon-mu {
  background-image: url(../img/flags/4x3/mu.svg);
}
.flag-icon-mu.flag-icon-squared {
  background-image: url(../img/flags/1x1/mu.svg);
}
.flag-icon-mv {
  background-image: url(../img/flags/4x3/mv.svg);
}
.flag-icon-mv.flag-icon-squared {
  background-image: url(../img/flags/1x1/mv.svg);
}
.flag-icon-mw {
  background-image: url(../img/flags/4x3/mw.svg);
}
.flag-icon-mw.flag-icon-squared {
  background-image: url(../img/flags/1x1/mw.svg);
}
.flag-icon-mx {
  background-image: url(../img/flags/4x3/mx.svg);
}
.flag-icon-mx.flag-icon-squared {
  background-image: url(../img/flags/1x1/mx.svg);
}
.flag-icon-my {
  background-image: url(../img/flags/4x3/my.svg);
}
.flag-icon-my.flag-icon-squared {
  background-image: url(../img/flags/1x1/my.svg);
}
.flag-icon-mz {
  background-image: url(../img/flags/4x3/mz.svg);
}
.flag-icon-mz.flag-icon-squared {
  background-image: url(../img/flags/1x1/mz.svg);
}
.flag-icon-na {
  background-image: url(../img/flags/4x3/na.svg);
}
.flag-icon-na.flag-icon-squared {
  background-image: url(../img/flags/1x1/na.svg);
}
.flag-icon-nc {
  background-image: url(../img/flags/4x3/nc.svg);
}
.flag-icon-nc.flag-icon-squared {
  background-image: url(../img/flags/1x1/nc.svg);
}
.flag-icon-ne {
  background-image: url(../img/flags/4x3/ne.svg);
}
.flag-icon-ne.flag-icon-squared {
  background-image: url(../img/flags/1x1/ne.svg);
}
.flag-icon-nf {
  background-image: url(../img/flags/4x3/nf.svg);
}
.flag-icon-nf.flag-icon-squared {
  background-image: url(../img/flags/1x1/nf.svg);
}
.flag-icon-ng {
  background-image: url(../img/flags/4x3/ng.svg);
}
.flag-icon-ng.flag-icon-squared {
  background-image: url(../img/flags/1x1/ng.svg);
}
.flag-icon-ni {
  background-image: url(../img/flags/4x3/ni.svg);
}
.flag-icon-ni.flag-icon-squared {
  background-image: url(../img/flags/1x1/ni.svg);
}
.flag-icon-nl {
  background-image: url(../img/flags/4x3/nl.svg);
}
.flag-icon-nl.flag-icon-squared {
  background-image: url(../img/flags/1x1/nl.svg);
}
.flag-icon-no {
  background-image: url(../img/flags/4x3/no.svg);
}
.flag-icon-no.flag-icon-squared {
  background-image: url(../img/flags/1x1/no.svg);
}
.flag-icon-np {
  background-image: url(../img/flags/4x3/np.svg);
}
.flag-icon-np.flag-icon-squared {
  background-image: url(../img/flags/1x1/np.svg);
}
.flag-icon-nr {
  background-image: url(../img/flags/4x3/nr.svg);
}
.flag-icon-nr.flag-icon-squared {
  background-image: url(../img/flags/1x1/nr.svg);
}
.flag-icon-nu {
  background-image: url(../img/flags/4x3/nu.svg);
}
.flag-icon-nu.flag-icon-squared {
  background-image: url(../img/flags/1x1/nu.svg);
}
.flag-icon-nz {
  background-image: url(../img/flags/4x3/nz.svg);
}
.flag-icon-nz.flag-icon-squared {
  background-image: url(../img/flags/1x1/nz.svg);
}
.flag-icon-om {
  background-image: url(../img/flags/4x3/om.svg);
}
.flag-icon-om.flag-icon-squared {
  background-image: url(../img/flags/1x1/om.svg);
}
.flag-icon-pa {
  background-image: url(../img/flags/4x3/pa.svg);
}
.flag-icon-pa.flag-icon-squared {
  background-image: url(../img/flags/1x1/pa.svg);
}
.flag-icon-pe {
  background-image: url(../img/flags/4x3/pe.svg);
}
.flag-icon-pe.flag-icon-squared {
  background-image: url(../img/flags/1x1/pe.svg);
}
.flag-icon-pf {
  background-image: url(../img/flags/4x3/pf.svg);
}
.flag-icon-pf.flag-icon-squared {
  background-image: url(../img/flags/1x1/pf.svg);
}
.flag-icon-pg {
  background-image: url(../img/flags/4x3/pg.svg);
}
.flag-icon-pg.flag-icon-squared {
  background-image: url(../img/flags/1x1/pg.svg);
}
.flag-icon-ph {
  background-image: url(../img/flags/4x3/ph.svg);
}
.flag-icon-ph.flag-icon-squared {
  background-image: url(../img/flags/1x1/ph.svg);
}
.flag-icon-pk {
  background-image: url(../img/flags/4x3/pk.svg);
}
.flag-icon-pk.flag-icon-squared {
  background-image: url(../img/flags/1x1/pk.svg);
}
.flag-icon-pl {
  background-image: url(../img/flags/4x3/pl.svg);
}
.flag-icon-pl.flag-icon-squared {
  background-image: url(../img/flags/1x1/pl.svg);
}
.flag-icon-pm {
  background-image: url(../img/flags/4x3/pm.svg);
}
.flag-icon-pm.flag-icon-squared {
  background-image: url(../img/flags/1x1/pm.svg);
}
.flag-icon-pn {
  background-image: url(../img/flags/4x3/pn.svg);
}
.flag-icon-pn.flag-icon-squared {
  background-image: url(../img/flags/1x1/pn.svg);
}
.flag-icon-pr {
  background-image: url(../img/flags/4x3/pr.svg);
}
.flag-icon-pr.flag-icon-squared {
  background-image: url(../img/flags/1x1/pr.svg);
}
.flag-icon-ps {
  background-image: url(../img/flags/4x3/ps.svg);
}
.flag-icon-ps.flag-icon-squared {
  background-image: url(../img/flags/1x1/ps.svg);
}
.flag-icon-pt {
  background-image: url(../img/flags/4x3/pt.svg);
}
.flag-icon-pt.flag-icon-squared {
  background-image: url(../img/flags/1x1/pt.svg);
}
.flag-icon-pw {
  background-image: url(../img/flags/4x3/pw.svg);
}
.flag-icon-pw.flag-icon-squared {
  background-image: url(../img/flags/1x1/pw.svg);
}
.flag-icon-py {
  background-image: url(../img/flags/4x3/py.svg);
}
.flag-icon-py.flag-icon-squared {
  background-image: url(../img/flags/1x1/py.svg);
}
.flag-icon-qa {
  background-image: url(../img/flags/4x3/qa.svg);
}
.flag-icon-qa.flag-icon-squared {
  background-image: url(../img/flags/1x1/qa.svg);
}
.flag-icon-re {
  background-image: url(../img/flags/4x3/re.svg);
}
.flag-icon-re.flag-icon-squared {
  background-image: url(../img/flags/1x1/re.svg);
}
.flag-icon-ro {
  background-image: url(../img/flags/4x3/ro.svg);
}
.flag-icon-ro.flag-icon-squared {
  background-image: url(../img/flags/1x1/ro.svg);
}
.flag-icon-rs {
  background-image: url(../img/flags/4x3/rs.svg);
}
.flag-icon-rs.flag-icon-squared {
  background-image: url(../img/flags/1x1/rs.svg);
}
.flag-icon-ru {
  background-image: url(../img/flags/4x3/ru.svg);
}
.flag-icon-ru.flag-icon-squared {
  background-image: url(../img/flags/1x1/ru.svg);
}
.flag-icon-rw {
  background-image: url(../img/flags/4x3/rw.svg);
}
.flag-icon-rw.flag-icon-squared {
  background-image: url(../img/flags/1x1/rw.svg);
}
.flag-icon-sa {
  background-image: url(../img/flags/4x3/sa.svg);
}
.flag-icon-sa.flag-icon-squared {
  background-image: url(../img/flags/1x1/sa.svg);
}
.flag-icon-sb {
  background-image: url(../img/flags/4x3/sb.svg);
}
.flag-icon-sb.flag-icon-squared {
  background-image: url(../img/flags/1x1/sb.svg);
}
.flag-icon-sc {
  background-image: url(../img/flags/4x3/sc.svg);
}
.flag-icon-sc.flag-icon-squared {
  background-image: url(../img/flags/1x1/sc.svg);
}
.flag-icon-sd {
  background-image: url(../img/flags/4x3/sd.svg);
}
.flag-icon-sd.flag-icon-squared {
  background-image: url(../img/flags/1x1/sd.svg);
}
.flag-icon-se {
  background-image: url(../img/flags/4x3/se.svg);
}
.flag-icon-se.flag-icon-squared {
  background-image: url(../img/flags/1x1/se.svg);
}
.flag-icon-sg {
  background-image: url(../img/flags/4x3/sg.svg);
}
.flag-icon-sg.flag-icon-squared {
  background-image: url(../img/flags/1x1/sg.svg);
}
.flag-icon-sh {
  background-image: url(../img/flags/4x3/sh.svg);
}
.flag-icon-sh.flag-icon-squared {
  background-image: url(../img/flags/1x1/sh.svg);
}
.flag-icon-si {
  background-image: url(../img/flags/4x3/si.svg);
}
.flag-icon-si.flag-icon-squared {
  background-image: url(../img/flags/1x1/si.svg);
}
.flag-icon-sj {
  background-image: url(../img/flags/4x3/sj.svg);
}
.flag-icon-sj.flag-icon-squared {
  background-image: url(../img/flags/1x1/sj.svg);
}
.flag-icon-sk {
  background-image: url(../img/flags/4x3/sk.svg);
}
.flag-icon-sk.flag-icon-squared {
  background-image: url(../img/flags/1x1/sk.svg);
}
.flag-icon-sl {

  background-image: url(../img/flags/4x3/sl.svg);
}
.flag-icon-sl.flag-icon-squared {
  background-image: url(../img/flags/1x1/sl.svg);
}
.flag-icon-sm {
  background-image: url(../img/flags/4x3/sm.svg);
}
.flag-icon-sm.flag-icon-squared {
  background-image: url(../img/flags/1x1/sm.svg);
}
.flag-icon-sn {
  background-image: url(../img/flags/4x3/sn.svg);
}
.flag-icon-sn.flag-icon-squared {
  background-image: url(../img/flags/1x1/sn.svg);
}
.flag-icon-so {
  background-image: url(../img/flags/4x3/so.svg);
}
.flag-icon-so.flag-icon-squared {
  background-image: url(../img/flags/1x1/so.svg);
}
.flag-icon-sr {
  background-image: url(../img/flags/4x3/sr.svg);
}
.flag-icon-sr.flag-icon-squared {
  background-image: url(../img/flags/1x1/sr.svg);
}
.flag-icon-ss {
  background-image: url(../img/flags/4x3/ss.svg);
}
.flag-icon-ss.flag-icon-squared {
  background-image: url(../img/flags/1x1/ss.svg);
}
.flag-icon-st {
  background-image: url(../img/flags/4x3/st.svg);
}
.flag-icon-st.flag-icon-squared {
  background-image: url(../img/flags/1x1/st.svg);
}
.flag-icon-sv {
  background-image: url(../img/flags/4x3/sv.svg);
}
.flag-icon-sv.flag-icon-squared {
  background-image: url(../img/flags/1x1/sv.svg);
}
.flag-icon-sx {
  background-image: url(../img/flags/4x3/sx.svg);
}
.flag-icon-sx.flag-icon-squared {
  background-image: url(../img/flags/1x1/sx.svg);
}
.flag-icon-sy {
  background-image: url(../img/flags/4x3/sy.svg);
}
.flag-icon-sy.flag-icon-squared {
  background-image: url(../img/flags/1x1/sy.svg);
}
.flag-icon-sz {
  background-image: url(../img/flags/4x3/sz.svg);
}
.flag-icon-sz.flag-icon-squared {
  background-image: url(../img/flags/1x1/sz.svg);
}
.flag-icon-tc {
  background-image: url(../img/flags/4x3/tc.svg);
}
.flag-icon-tc.flag-icon-squared {
  background-image: url(../img/flags/1x1/tc.svg);
}
.flag-icon-td {
  background-image: url(../img/flags/4x3/td.svg);
}
.flag-icon-td.flag-icon-squared {
  background-image: url(../img/flags/1x1/td.svg);
}
.flag-icon-tf {
  background-image: url(../img/flags/4x3/tf.svg);
}
.flag-icon-tf.flag-icon-squared {
  background-image: url(../img/flags/1x1/tf.svg);
}
.flag-icon-tg {
  background-image: url(../img/flags/4x3/tg.svg);
}
.flag-icon-tg.flag-icon-squared {
  background-image: url(../img/flags/1x1/tg.svg);
}
.flag-icon-th {
  background-image: url(../img/flags/4x3/th.svg);
}
.flag-icon-th.flag-icon-squared {
  background-image: url(../img/flags/1x1/th.svg);
}
.flag-icon-tj {
  background-image: url(../img/flags/4x3/tj.svg);
}
.flag-icon-tj.flag-icon-squared {
  background-image: url(../img/flags/1x1/tj.svg);
}
.flag-icon-tk {
  background-image: url(../img/flags/4x3/tk.svg);
}
.flag-icon-tk.flag-icon-squared {
  background-image: url(../img/flags/1x1/tk.svg);
}
.flag-icon-tl {
  background-image: url(../img/flags/4x3/tl.svg);
}
.flag-icon-tl.flag-icon-squared {
  background-image: url(../img/flags/1x1/tl.svg);
}
.flag-icon-tm {
  background-image: url(../img/flags/4x3/tm.svg);
}
.flag-icon-tm.flag-icon-squared {
  background-image: url(../img/flags/1x1/tm.svg);
}
.flag-icon-tn {
  background-image: url(../img/flags/4x3/tn.svg);
}
.flag-icon-tn.flag-icon-squared {
  background-image: url(../img/flags/1x1/tn.svg);
}
.flag-icon-to {
  background-image: url(../img/flags/4x3/to.svg);
}
.flag-icon-to.flag-icon-squared {
  background-image: url(../img/flags/1x1/to.svg);
}
.flag-icon-tr {
  background-image: url(../img/flags/4x3/tr.svg);
}
.flag-icon-tr.flag-icon-squared {
  background-image: url(../img/flags/1x1/tr.svg);
}
.flag-icon-tt {
  background-image: url(../img/flags/4x3/tt.svg);
}
.flag-icon-tt.flag-icon-squared {
  background-image: url(../img/flags/1x1/tt.svg);
}
.flag-icon-tv {
  background-image: url(../img/flags/4x3/tv.svg);
}
.flag-icon-tv.flag-icon-squared {
  background-image: url(../img/flags/1x1/tv.svg);
}
.flag-icon-tw {
  background-image: url(../img/flags/4x3/tw.svg);
}
.flag-icon-tw.flag-icon-squared {
  background-image: url(../img/flags/1x1/tw.svg);
}
.flag-icon-tz {
  background-image: url(../img/flags/4x3/tz.svg);
}
.flag-icon-tz.flag-icon-squared {
  background-image: url(../img/flags/1x1/tz.svg);
}
.flag-icon-ua {
  background-image: url(../img/flags/4x3/ua.svg);
}
.flag-icon-ua.flag-icon-squared {
  background-image: url(../img/flags/1x1/ua.svg);
}
.flag-icon-ug {
  background-image: url(../img/flags/4x3/ug.svg);
}
.flag-icon-ug.flag-icon-squared {
  background-image: url(../img/flags/1x1/ug.svg);
}
.flag-icon-um {
  background-image: url(../img/flags/4x3/um.svg);
}
.flag-icon-um.flag-icon-squared {
  background-image: url(../img/flags/1x1/um.svg);
}
.flag-icon-us {
  background-image: url(../img/flags/4x3/us.svg);
}
.flag-icon-us.flag-icon-squared {
  background-image: url(../img/flags/1x1/us.svg);
}
.flag-icon-uy {
  background-image: url(../img/flags/4x3/uy.svg);
}
.flag-icon-uy.flag-icon-squared {
  background-image: url(../img/flags/1x1/uy.svg);
}
.flag-icon-uz {
  background-image: url(../img/flags/4x3/uz.svg);
}
.flag-icon-uz.flag-icon-squared {
  background-image: url(../img/flags/1x1/uz.svg);
}
.flag-icon-va {
  background-image: url(../img/flags/4x3/va.svg);
}
.flag-icon-va.flag-icon-squared {
  background-image: url(../img/flags/1x1/va.svg);
}
.flag-icon-vc {
  background-image: url(../img/flags/4x3/vc.svg);
}
.flag-icon-vc.flag-icon-squared {
  background-image: url(../img/flags/1x1/vc.svg);
}
.flag-icon-ve {
  background-image: url(../img/flags/4x3/ve.svg);
}
.flag-icon-ve.flag-icon-squared {
  background-image: url(../img/flags/1x1/ve.svg);
}
.flag-icon-vg {
  background-image: url(../img/flags/4x3/vg.svg);
}
.flag-icon-vg.flag-icon-squared {
  background-image: url(../img/flags/1x1/vg.svg);
}
.flag-icon-vi {
  background-image: url(../img/flags/4x3/vi.svg);
}
.flag-icon-vi.flag-icon-squared {
  background-image: url(../img/flags/1x1/vi.svg);
}
.flag-icon-vn {
  background-image: url(../img/flags/4x3/vn.svg);
}
.flag-icon-vn.flag-icon-squared {
  background-image: url(../img/flags/1x1/vn.svg);
}
.flag-icon-vu {
  background-image: url(../img/flags/4x3/vu.svg);
}
.flag-icon-vu.flag-icon-squared {
  background-image: url(../img/flags/1x1/vu.svg);
}
.flag-icon-wf {
  background-image: url(../img/flags/4x3/wf.svg);
}
.flag-icon-wf.flag-icon-squared {
  background-image: url(../img/flags/1x1/wf.svg);
}
.flag-icon-ws {
  background-image: url(../img/flags/4x3/ws.svg);
}
.flag-icon-ws.flag-icon-squared {
  background-image: url(../img/flags/1x1/ws.svg);
}
.flag-icon-ye {
  background-image: url(../img/flags/4x3/ye.svg);
}
.flag-icon-ye.flag-icon-squared {
  background-image: url(../img/flags/1x1/ye.svg);
}
.flag-icon-yt {
  background-image: url(../img/flags/4x3/yt.svg);
}
.flag-icon-yt.flag-icon-squared {
  background-image: url(../img/flags/1x1/yt.svg);
}
.flag-icon-za {
  background-image: url(../img/flags/4x3/za.svg);
}
.flag-icon-za.flag-icon-squared {
  background-image: url(../img/flags/1x1/za.svg);
}
.flag-icon-zm {
  background-image: url(../img/flags/4x3/zm.svg);
}
.flag-icon-zm.flag-icon-squared {
  background-image: url(../img/flags/1x1/zm.svg);
}
.flag-icon-zw {
  background-image: url(../img/flags/4x3/zw.svg);
}
.flag-icon-zw.flag-icon-squared {
  background-image: url(../img/flags/1x1/zw.svg);
}
.flag-icon-eu {
  background-image: url(../img/flags/4x3/eu.svg);
}
.flag-icon-eu.flag-icon-squared {
  background-image: url(../img/flags/1x1/eu.svg);
}
.flag-icon-gb-eng {
  background-image: url(../img/flags/4x3/gb-eng.svg);
}
.flag-icon-gb-eng.flag-icon-squared {
  background-image: url(../img/flags/1x1/gb-eng.svg);
}
.flag-icon-gb-sct {
  background-image: url(../img/flags/4x3/gb-sct.svg);
}
.flag-icon-gb-sct.flag-icon-squared {
  background-image: url(../img/flags/1x1/gb-sct.svg);
}
.flag-icon-gb-wls {
  background-image: url(../img/flags/4x3/gb-wls.svg);
}
.flag-icon-gb-wls.flag-icon-squared {
  background-image: url(../img/flags/1x1/gb-wls.svg);
}

@font-face {
  font-family: "startui";
  src: url("../fonts/startui.eot");
  src: url("../fonts/startui.eot?#iefix") format("embedded-opentype"), url("../fonts/startui.woff") format("woff"), url("../fonts/startui.ttf") format("truetype"), url("../fonts/startui.svg#startui") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  content: attr(data-icon);
  font-family: "startui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: relative;
  top: -0.15em;
}
[class^="font-icon-"]:before,
[class*=" font-icon-"]:before {
  font-family: "startui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: relative;
  top: -0.15em;
}
.font-icon-alarm:before {
  content: "\62";
}
.font-icon-build:before {
  content: "\63";
}
.font-icon-burger:before {
  content: "\64";
}
.font-icon-calend:before {
  content: "\65";
}
.font-icon-cart:before {
  content: "\66";
}
.font-icon-cogwheel:before {
  content: "\67";
}
.font-icon-comments:before {
  content: "\68";
}
.font-icon-contacts:before {
  content: "\69";
}
.font-icon-dashboard:before {
  content: "\6a";
}
.font-icon-dots:before {
  content: "\6b";
}
.font-icon-expand:before {
  content: "\6c";
}
.font-icon-filter:before {
  content: "\6d";
}
.font-icon-help:before {
  content: "\6e";
}
.font-icon-home:before {
  content: "\6f";
}
.font-icon-page:before {
  content: "\70";
}
.font-icon-pencil:before {
  content: "\71";
}
.font-icon-re:before {
  content: "\72";
}
.font-icon-rollup:before {
  content: "\73";
}
.font-icon-search:before {
  content: "\74";
}
.font-icon-share:before {
  content: "\75";
}
.font-icon-star:before {
  content: "\76";
}
.font-icon-users:before {
  content: "\77";
}
.font-icon-wallet:before {
  content: "\78";
}
.font-icon-minus:before {
  content: "\79";
}
.font-icon-pencil-thin:before {
  content: "\7a";
}
.font-icon-close:before {
  content: "\41";
}
.font-icon-speed:before {
  content: "\61";
}
.font-icon-menu-addl:before {
  content: "\42";
}
.font-icon-search:before {
  content: "\74";
}
.font-icon-edit:before {
  content: "\43";
}
.font-icon-chart:before {
  content: "\44";
}
.font-icon-zigzag:before {
  content: "\45";
}
.font-icon-tablet:before {
  content: "\46";
}
.font-icon-widget:before {
  content: "\47";
}
.font-icon-map:before {
  content: "\48";
}
.font-icon-chart-2:before {
  content: "\49";
}
.font-icon-doc:before {
  content: "\4a";
}
.font-icon-question:before {
  content: "\4b";
}
.font-icon-user:before {
  content: "\4c";
}
.font-icon-notebook:before {
  content: "\4d";
}
.font-icon-mail:before {
  content: "\4e";
}
.font-icon-close-2:before {
  content: "\4f";
}
.font-icon-pen:before {
  content: "\50";
}
.font-icon-arrow-down:before {
  content: "\51";
}
.font-icon-arrow-left:before {
  content: "\52";
}
.font-icon-arrow-right:before {
  content: "\53";
}
.font-icon-arrow-top:before {
  content: "\54";
}
.font-icon-check-circle:before {
  content: "\55";
}
.font-icon-cam-photo:before {
  content: "\56";
}
.font-icon-cam-video:before {
  content: "\57";
}
.font-icon-sound:before {
  content: "\58";
}
.font-icon-earth:before {
  content: "\59";
}
.font-icon-mail-2:before {
  content: "\5a";
}
.font-icon-upload:before {
  content: "\30";
}
.font-icon-dropbox:before {
  content: "\31";
}
.font-icon-google-drive:before {
  content: "\32";
}
.font-icon-yandex-disk:before {
  content: "\33";
}
.font-icon-box:before {
  content: "\34";
}
.font-icon-arrow-square-down:before {
  content: "\35";
}
.font-icon-refresh:before {
  content: "\36";
}
.font-icon-list-square:before {
  content: "\37";
}
.font-icon-list-rotate:before {
  content: "\38";
}
.font-icon-download:before {
  content: "\39";
}
.font-icon-heart:before {
  content: "\21";
}
.font-icon-check-bird:before {
  content: "\22";
}
.font-icon-clock:before {
  content: "\23";
}
.font-icon-trash:before {
  content: "\24";
}
.font-icon-circle-lined-error:before {
  content: "\25";
}
.font-icon-circle-lined-i:before {
  content: "\26";
}
.font-icon-circle-lined-smile:before {
  content: "\27";
}
.font-icon-circle-lined-success:before {
  content: "\28";
}
.font-icon-one-drive:before {
  content: "\29";
}
.font-icon-cloud-upload-2:before {
  content: "\2a";
}
.font-icon-plus:before {
  content: "\2b";
}
.font-icon-minus-1:before {
  content: "\2c";
}
.font-icon-arrow-square-up:before {
  content: "\2d";
}
.font-icon-revers:before {
  content: "\2e";
}
.font-icon-import:before {
  content: "\2f";
}
.font-icon-award:before {
  content: "\3a";
}
.font-icon-case:before {
  content: "\3b";
}
.font-icon-earth-bordered:before {
  content: "\3c";
}
.font-icon-comment:before {
  content: "\3d";
}
.font-icon-eye:before {
  content: "\3e";
}
.font-icon-fb-fill:before {
  content: "\3f";
}
.font-icon-in-fill:before {
  content: "\40";
}
.font-icon-lamp:before {
  content: "\5b";
}
.font-icon-picture:before {
  content: "\5d";
}
.font-icon-pdf-fill:before {
  content: "\5e";
}
.font-icon-notebook-bird:before {
  content: "\5f";
}
.font-icon-quote:before {
  content: "\60";
}
.font-icon-vk-fill:before {
  content: "\7b";
}
.font-icon-video-fill:before {
  content: "\7c";
}
.font-icon-tw-fill:before {
  content: "\7d";
}
.font-icon-answer:before {
  content: "\7e";
}
.font-icon-archive:before {
  content: "\5c";
}
.font-icon-case-2:before {
  content: "\e000";
}
.font-icon-clip:before {
  content: "\e001";
}
.font-icon-cloud:before {
  content: "\e002";
}
.font-icon-comments-2:before {
  content: "\e003";
}
.font-icon-del:before {
  content: "\e004";
}
.font-icon-event:before {
  content: "\e005";
}
.font-icon-download-3:before {
  content: "\e006";
}
.font-icon-download-2:before {
  content: "\e007";
}
.font-icon-dots-vert-square:before {
  content: "\e008";
}
.font-icon-fire:before {
  content: "\e009";
}
.font-icon-folder:before {
  content: "\e00a";
}
.font-icon-lock:before {
  content: "\e00b";
}
.font-icon-ok:before {
  content: "\e00c";
}
.font-icon-picture-2:before {
  content: "\e00d";
}
.font-icon-pin:before {
  content: "\e00e";
}
.font-icon-refresh-2:before {
  content: "\e00f";
}
.font-icon-view-cascade:before {
  content: "\e010";
}
.font-icon-users-group:before {
  content: "\e011";
}
.font-icon-upload-2:before {
  content: "\e012";
}
.font-icon-view-grid:before {
  content: "\e013";
}
.font-icon-view-rows:before {
  content: "\e014";
}
.font-icon-warning:before {
  content: "\e015";
}
.font-icon-facebook:before {
  content: "\e016";
}
.font-icon-instagram:before {
  content: "\e017";
}
.font-icon-google-plus:before {
  content: "\e018";
}
.font-icon-linkedin:before {
  content: "\e019";
}
.font-icon-twitter:before {
  content: "\e01a";
}
.font-icon-phone:before {
  content: "\e01b";
}
.font-icon-gp-fill:before {
  content: "\e01c";
}
.font-icon-ok-fill:before {
  content: "\e01d";
}
.font-icon-editor-align-center:before {
  content: "\e01e";
}
.font-icon-editor-align-justify:before {
  content: "\e01f";
}
.font-icon-editor-align-left:before {
  content: "\e020";
}
.font-icon-editor-align-right:before {
  content: "\e021";
}
.font-icon-editor-bold:before {
  content: "\e022";
}
.font-icon-editor-code:before {
  content: "\e023";
}
.font-icon-editor-eraser:before {
  content: "\e024";
}
.font-icon-editor-font:before {
  content: "\e025";
}
.font-icon-editor-fullscreen:before {
  content: "\e026";
}
.font-icon-editor-help:before {
  content: "\e027";
}
.font-icon-editor-img:before {
  content: "\e028";
}
.font-icon-editor-link:before {
  content: "\e029";
}
.font-icon-editor-list:before {
  content: "\e02a";
}
.font-icon-editor-magic:before {
  content: "\e02b";
}
.font-icon-editor-numeric-list:before {
  content: "\e02c";
}
.font-icon-editor-table:before {
  content: "\e02d";
}
.font-icon-editor-underline:before {
  content: "\e02e";
}
.font-icon-editor-video:before {
  content: "\e02f";
}
.font-icon-alarm-2:before {
  content: "\e030";
}
.font-icon-alarm-rotate:before {
  content: "\e031";
}
.font-icon-binoculars:before {
  content: "\e032";
}
.font-icon-cart-2:before {
  content: "\e033";
}
.font-icon-card:before {
  content: "\e034";
}
.font-icon-bookmark:before {
  content: "\e035";
}
.font-icon-chart-3:before {
  content: "\e036";
}
.font-icon-chart-4:before {
  content: "\e037";
}
.font-icon-check-square:before {
  content: "\e038";
}
.font-icon-del-circle:before {
  content: "\e039";
}
.font-icon-comp:before {
  content: "\e03a";
}
.font-icon-cloud-download:before {
  content: "\e03b";
}
.font-icon-downloaded:before {
  content: "\e03c";
}
.font-icon-link:before {
  content: "\e03d";
}
.font-icon-i-circle:before {
  content: "\e03e";
}
.font-icon-notebook-lines:before {
  content: "\e03f";
}
.font-icon-pdf:before {
  content: "\e040";
}
.font-icon-pen-square:before {
  content: "\e041";
}
.font-icon-play-prev:before {
  content: "\e042";
}
.font-icon-play-next:before {
  content: "\e043";
}
.font-icon-play-circle:before {
  content: "\e044";
}
.font-icon-play:before {
  content: "\e045";
}
.font-icon-pin-2:before {
  content: "\e046";
}
.font-icon-server:before {
  content: "\e047";
}
.font-icon-warning-circle:before {
  content: "\e048";
}
.font-icon-users-two:before {
  content: "\e049";
}
.font-icon-weather-cloud:before {
  content: "\e04a";
}
.font-icon-weather-cloud-circles:before {
  content: "\e04b";
}
.font-icon-weather-cloud-drops-lightning:before {
  content: "\e04c";
}
.font-icon-weather-cloud-moon:before {
  content: "\e04d";
}
.font-icon-weather-cloud-one-circle:before {
  content: "\e04e";
}
.font-icon-weather-cloud-one-drop:before {
  content: "\e04f";
}
.font-icon-weather-cloud-rain-snow:before {
  content: "\e050";
}
.font-icon-weather-cloud-sun:before {
  content: "\e051";
}
.font-icon-weather-cloud-two-circles:before {
  content: "\e052";
}
.font-icon-weather-cloud-two-drops:before {
  content: "\e053";
}
.font-icon-weather-cloud-two-snow:before {
  content: "\e054";
}
.font-icon-weather-clouds:before {
  content: "\e055";
}
.font-icon-weather-clound-lightning:before {
  content: "\e056";
}
.font-icon-weather-sun:before {
  content: "\e057";
}
.font-icon-weather-snowflake:before {
  content: "\e058";
}
.font-icon-weather-snow:before {
  content: "\e059";
}
.font-icon-weather-rain:before {
  content: "\e05a";
}
.font-icon-weather-one-snow:before {
  content: "\e05b";
}
.font-icon-weather-moon-small-cloud:before {
  content: "\e05c";
}
.font-icon-weather-moon-cloud-rain:before {
  content: "\e05d";
}
.font-icon-weather-moon-cloud:before {
  content: "\e05e";
}
.font-icon-weather-moon:before {
  content: "\e05f";
}
.font-icon-weather-lightning:before {
  content: "\e060";
}
.font-icon-weather-house-water:before {
  content: "\e061";
}
.font-icon-weather-funnel:before {
  content: "\e062";
}
.font-icon-weather-drop:before {
  content: "\e063";
}
.font-icon-weather-sun-cloud:before {
  content: "\e064";
}
.font-icon-weather-sun-clouds:before {
  content: "\e065";
}
.font-icon-weather-sun-rain:before {
  content: "\e066";
}
.font-icon-weather-thermometer:before {
  content: "\e067";
}
.font-icon-weather-umbrella:before {
  content: "\e068";
}
.font-icon-weather-waves:before {
  content: "\e069";
}
.font-icon-wp:before {
  content: "\e06a";
}
.font-icon-player-full-screen:before {
  content: "\e06b";
}
.font-icon-player-next:before {
  content: "\e06c";
}
.font-icon-player-settings:before {
  content: "\e06d";
}
.font-icon-player-sound:before {
  content: "\e06e";
}
.font-icon-player-subtitres:before {
  content: "\e06f";
}
.font-icon-player-wide-screen:before {
  content: "\e070";
}
.font-icon-case-3:before {
  content: "\e071";
}
.font-icon-github:before {
  content: "\e072";
}
.font-icon-learn:before {
  content: "\e073";
}
.font-icon-play-next-square:before {
  content: "\e074";
}
.font-icon-play-prev-square:before {
  content: "\e075";
}
.font-icon-play-square:before {
  content: "\e076";
}
.font-icon-picture-double:before {
  content: "\e077";
}
.font-icon-snippet:before {
  content: "\e078";
}
.font-icon-post:before {
  content: "\e079";
}
.font-icon-plus-1:before {
  content: "\e07a";
}
.flag-icon-list .flag {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
}