* {
	padding: 0;
	margin: 0;
}

a, button, .btn, * a, * button, * .btn {
	transition: all ease-in-out .3s;
}

/*

	efecto ZOOOM en imagenes

img {
	-webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -ms-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
}

img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
*/

input, button, textarea, select, * input, * select, * textarea, * button {
	outline: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	resize: none !important;
}

*:before, *:after {
	content: ' ';
}

* p { 
	font-size: 18px;
	font-family:CircularStd-Book;
}

* span {
	font-size: 18px;
	font-family:CircularStd-Medium;
}

 * h1 {
	 font-family:CircularStd-Bold;
	 font-size: 32px;	 
}
 * h2 {
	 font-family:CircularStd-Bold;
	 font-size: 24px;
}

 * h3 {
	font-family:CircularStd-Bold;
 	font-size: 21px; 
}

 * h4 {
	 
}


@font-face {
    font-family:CircularStd-Black;
    src:url(../fonts/CircularStd-Black.otf);
}
@font-face {
    font-family:CircularStd-Bold;
    src:url(../fonts/CircularStd-Bold.otf);
}
@font-face {
    font-family:CircularStd-Book;
    src:url(../fonts/CircularStd-Book.otf);
}
@font-face {
   font-family:CircularStd-Medium;
    src:url(../fonts/CircularStd-Medium.otf);
}
@font-face {
    font-family:Poppins;
    src:url(../fonts/Poppins-Regular.ttf);
}


/**************** BREADCOME ******************/


.miguina {
    padding:8px 0em;
    margin-bottom: 0px;
    list-style: none;
    background-color: #424953;
    border-radius: 0px;
    width: 100%;
}

.miguina h2 {
	margin: 3px 0px 0px!important;
	color: #000;
	font-size: 21px!important;
	line-height: 16px;
	text-transform: uppercase;
	display: inline-block!important;
}

.breadcrumb {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	float: right;
}

.breadcrumb > li a {
	text-decoration: none;
	color: #fff;
	font-family:CircularStd-Book;
	font-size: 15px;
}

.breadcrumb > li a:hover {
	color: #fff;
}

.breadcrumb > .active {
    color: #fff;
	font-family:CircularStd-Book;
	font-size: 15px;
}

.breadcrumb > li + li::before {
	content: '•';
	color: #fff;
}

/**************** MENU  ******************/

.social {
	position: relative; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	top:0px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 0; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
	margin-left: 0px;
	width: auto;
}

.social ul {
	list-style: none;
	margin: 0px;
}

.social ul li { 
	display: inline-block;
	margin-right: 2px;
}

.social ul li a img {
	max-width: 100%;
}



/************  LOGO  ************/

.logo { 
	position: relative;
	width: auto;
	display: inline-block;
	padding: 13px 0px 0;
}

.logo img { 
	max-width: 100%;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
	-webkit-box-shadow: 0px 3px 24px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 24px 2px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 24px 2px rgba(0,0,0,0.35);
	border-width: inherit;
}

.navbar { 
	margin: 0px;
	
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
   color: #fff;
    background-color: #FF6B00;
	border-radius: 4px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
     color: #fff;
    background-color: #FF6B00;
	border-radius: 4px;
}


.navbar-inverse .navbar-nav > li {
	padding: 0px;
	margin-right: 5px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
	font-size: 18px;
	 font-family:CircularStd-Bold;
	position: relative;
	padding: 6px 15px;
}

.navbar-inverse .navbar-nav > li.dropdown {
	padding: 8px 5px;
}
.navbar-inverse .navbar-nav > li.dropdown button {
	 color: #0000;
	font-size: 18px;
	position: relative;
	padding: 10px 15px;
	background-color:transparent;
	border: 0px solid;
	line-height: 31px;
}

.navbar-inverse .navbar-nav > li.cart {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	background-color: #FF6B00;
}

.navbar-inverse .navbar-nav > li.cart img {
	max-width: 100%;
}

.navbar-inverse .navbar-nav > li.cart .count {
	margin-right: 2px;
	padding:  0 8px 0 0;
}

.navbar-inverse .navbar-nav > li.cart .count p {
	margin: 0px; color: #fff;
	font-size: 14px;
	text-align: left;
}

.navbar-nav {
    float:none;
    margin: 0;
	display: inline-flex;
	padding: 10.5px 0 6px 0;
	justify-content: center;
	align-items: center;
}

.navigation {
	padding: 20px 0; 
	position: relative;
}

#desplegar {
	float: right;
}

.prenav_hidden {
    margin-top: -47px !important;
	opacity: 0;
	display: block!important;
	visibility: hidden;
	transition: all ease-out .10s;
}

.pre-head {
	position: relative;
	padding: 0px; 
	overflow: hidden;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid #E3E4E6;
	transition: all ease-out .4s;
	line-height: 0;
	height: 100%;
}

.pre-header {
	position: relative;
	padding: 5px 0px;
	overflow: hidden;
	margin: 0px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	line-height: 0;
	height: 100%;
}

.hed-lft {
 	width: calc(65% - 0px);
	position: relative;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
}

.hed-rigt {
	width: calc(35% - 0px);
	position: relative;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.pbx-header a,
.mail-header a,
.cuenta-header a,
.carrito-header a {
	color: #000;
	font-size: 16px;
	position: relative;
	display: inline-flex;
	margin: 0 10px;
	align-items: center;font-family: CircularStd-Bold;
	text-decoration: none;
}

.pbx-header a img,
.mail-header a img,
.cuenta-header a img,
.carrito-header a img{
	margin-right: 5px;
}



.main {
	margin-top: calc(0% - -8%)!important;
}

[class*="bto"], 
[class^="bto"] {
		position: relative;
		border: 1px solid ;
		padding: 3px 14px;
		text-align: center;
		font-size: 24px;
		line-height: 27px;
		text-decoration: none;
		width: auto;
		border-radius: 0px;
		font-family:CircularStd-Bold;
		cursor: pointer;
		overflow: hidden;
		z-index: 3;
		margin: 0 auto 0px;
		display:inline;
		color: #fff;
		-webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
		transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
}


[class*="bto-white"], 
[class^="bto-white"] {
	background-color: transparent;
	border-color: #fff;
}

.bto-white:hover, 
.bto-white:hover {
	background-color: transparent;
	border-color: #fff;
	color: #fff;
	text-decoration: none;
} 

.bto-white:visited, 
.bto-white:visited {
	background-color: transparent;
	border-color: #fff;
} 

.bto-orange, 
.bto-orange,
.bto-orange:hover, 
.bto-orange:hover,
.bto-orange:visited, 
.bto-orange:visited  {
	background-color: transparent;
	border-color: #FF6B00;
	color: #FF6B00;
	text-decoration: none;
}

[class*="wrrape-"], 
[class^="wrrape-"] { 
	position: relative;
	width: 100%;
	overflow: hidden;
}

[class*="wrrape-"] .title h1, 
[class^="wrrape-"] .title h1 {
	margin: 0px;
	color: #000;
	position: relative;
}


[class*="wrrape-"] .title h2, 
[class^="wrrape-"] .title h2 {
	margin: 0px;
	color: #000;
	position: relative;
}

.form-control {
	border: 1px solid #424953;
	border-radius: 0px;
	color: #000;
}

.form-control::placeholder {
	color: #B8B9BF;
}

.checkbox label {
	color: #003B4A;
	font-family:CircularStd-Book;
	font-size: 14px;
}


.map-canvas {
    position: relative;
    width: 100%;
    height: 350px;
	background-color: #000;
}

/*********  ESTILOS GENERALES CARROUSEL *******/

.owl-theme .owl-nav {
	position: absolute;
	top: 0px;
	width: 100%;
}

.owl-theme .owl-nav .owl-prev {
    float: left;
    left: 1em;
    top: 0em;
	color: transparent!important;
    position: relative;
    background-color: transparent;
    background: transparent!important;
}

.owl-theme .owl-nav .owl-next {
    float: right;
    position: relative;
    top: 0em;
    color: transparent!important;
    background-color: transparent!important;
    background: transparent!important;
    right: 1em;
}

.owl-theme .owl-nav .owl-prev::before {
    content: '\f104';
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 90px;
    color: #fff;
	text-shadow: 3px 0px 9px rgba(0,0,0,0.5);
    font-family: 'FontAwesome';
    line-height: 20px;
}

.owl-theme .owl-nav .owl-next::before {
    content: '\f105';
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 90px;
    color: #fff;
	text-shadow: -1px 2px 3px rgba(0,0,0,0.5);
    font-family: 'FontAwesome';
    line-height: 20px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: transparent;
    color: transparent!important;
    text-decoration: none;
}

/**************************** CONTROL CARROUSLE HOME ************************************/


.owl-home .owl-dots {
	position: absolute; 
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.owl-home .owl-dots .owl-dot span {
    width: 20px!important;
    height: 20px!important;
    margin: 5px 7px;
    background: transparent!important;
    display: block;
	border: 1px solid #003B4A;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-home .owl-dots .owl-dot.active span,
.owl-home .owl-dots .owl-dot:hover span {
    background: #003B4A!important;
}

.content-img {
	width: 100%;
    height: 76vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-img .content-text {
	max-width: 1000px;
	text-align: left;
	margin: 0 auto;
	position: absolute;
	width: 100%;
	padding: 0 20px;
	margin-top: -2em;
}

.content-img .content-text h1 {
	color: #fff;
	font-size: 60px;
	line-height: 65px;
	margin: 0px 0 25px;
}

.content-img .content-text a {
	margin-left: 3em
}

/**************************** CONTROL CARROUSLE ALIADOS ************************************/

.owl-aliados .owl-dots .owl-dot span {
    width: 20px!important;
    height: 20px!important;
    margin: 5px 7px;
    background: transparent!important;
    display: block;
	border: 1px solid #003B4A;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}

.owl-aliados .owl-dots .owl-dot.active span,
.owl-aliados .owl-dots .owl-dot:hover span {
    background: #003B4A!important;
}


/****************************************************************/


.log-in {
	background-color: transparent;
	border:0px solid transparent; 
	box-shadow: none;
}

.main-login {
	width:100%;
    height:100vh;
    text-align:center;
	background-color: #000;
	background-image: url(../images/01.jpg);
    -webkit-background-size: cover!important;
    background-size: cover!important;
    background-position: left !important;
    background-repeat: no-repeat !important;
    margin: 0px;
    padding: 0px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}




.wrrape_login {
    width: 100%;
	max-width: 350px;
    float: initial;
    position: relative;
    min-height: auto;
	background-color: #fff;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 0px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.login-logo {
	padding: 15px 0 ;
}

[class*="title"], 
[class^="title"] {
	margin: 22px auto; 
}

.wrrape-info {
	background-image: url(../images/03.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 406px;
}

.wrrape-info .container > .row {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.content-info {
	overflow: hidden;
	height: 1%; padding: 0 20px;
}

.content-info p {
	color: #fff;
	font-size: 32px;
	text-align: center;
	line-height: 36px;
	margin: 0px 0 20px;
}

.content-info span {
	font-size: 38px;
	line-height: 38px;
	margin: 0px 25px 0 0;
	float: right;
	color: #fff;
}


.content-info-form {
	text-align: center
}

.content-info-form .title h1 {
	color: #003B4A;
}

.content-info-form .captcha {
	width: 100%; 
	margin-bottom: 15px;
}

.content-info-form .bto-orange {
	margin: 0px auto 0;
}

.content-info-form .checkbox label {
	color: #003B4A;
}

.in-page-nosotros {
	background-image: none!important;
}

.in-page-nosotros .content-nosot {
	position: relative;
	max-width:none;
	float: none;
	width: 100%;
	padding: 0px 0;
	margin: 0 auto;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.in-page-nosotros .content-nosot .con-boxis {
	width: calc(70% - 0px);
}

.in-page-nosotros .content-nosot .box-img {
	width: calc(20% - 0px);
}

.in-page-nosotros .content-nosot img  {
	display: inline-block;
	margin-right: 5px;
	width: 100%;
}

.in-page-nosotros .content-nosot .box-nosot,
.in-page-nosotros .content-nosot .box-sector {
	justify-content: center;
}

.wrrape-nosotros {
	background-image: url(../images/bgHome-nosotros.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 344px;
	padding: 20px 0 ;
}

.content-nosot {
	position: relative;
	max-width: 800px;
	float: right;
	width: 100%;
	padding: 40px 0;
}

.box-nosot, .box-sector {
	position: relative;
	width: 100%; 
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
}

.box-sector a.bto-orange {
	margin: 0;
}

.box-nosot h2,
.box-sector h2 {
	color: #000;
}

.box-nosot h3,
.box-sector h3 {
	color: #003B4A;
	margin: 0px 5px 0 ;
}

.progress {
  height: 33px;
	overflow: visible;
	position: relative;

}
.progress .skill {
  line-height: 35px;
  padding: 0;
  font-family:CircularStd-Book;
  margin: 0 0 0 20px;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: auto;
  position: sticky;
  margin-right: -1px;
  margin-top: -39px;
  color: #000;
	width: 61px;
}

.progress .skill .val::before {
    left: auto;
	right: 1px;
	margin: 0 auto;
	top: 29px;
	border-right: 10px solid transparent;
	border-top: 0px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid #FF6B00;
	position: absolute;
}


.progress-bar {
  text-align: left;
	font-family:CircularStd-Book;
  transition-duration: 6s;
}

.progress {
	margin: 0px;
	width: 50%;
	font-family:CircularStd-Book;
	background-color: #E3E4E6;
	border-radius: 0px;
}

.progress-bar {
	background-color: #FF6B00;
}

.conten-sector {
	width: 50%;
	text-align: center;
}

.conten-sector .item-sector {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.conten-sector .item-sector img {
	max-width: 100%;
	margin: 0 auto;
}

.conten-sector .item-sector span {
	color: #003B4A;
	margin: 10px 0 0 ;
}

.wrrape-categoria {
	background-color: #F4F5FA;
	padding-bottom: 20px;
}

.in-categoria {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
}

.in-categoria .in-box-cat {
	background-color: #fff;
	min-height: 80px;
	padding: 10px 8px;
	width: calc(18% - 0px);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	-webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
	box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.59);
}

.in-categoria .in-box-cat img {
	width: 71px;
	max-width: 100%;
	/*
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);*/
}

.in-categoria .in-box-cat:hover img {
	
		
		
	/*-ms-transform: rotateY(180deg);
	-ms-transform-style: preserve-3d;	
	-moz-transform: rotateY(180deg);
	-moz-transform-style: preserve-3d;	
	-o-transform: rotateY(180deg);
	-o-transform-style: preserve-3d;	

	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform: rotateY(180deg);
	transform-style: preserve-3d;*/
	
}


.in-categoria .in-box-cat:hover img {
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}


@-webkit-keyframes swing{15%{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}



.in-categoria .in-box-cat span {
	width: calc(74% - 0px);
	text-align: left;
	color: #003B4A;
	line-height: 18px;
}

.wrrape-aliados {
	padding: 0 0 20px;
}

.wrrape-aliados .owl-aliados .item {
	border: 1px solid #003B4A;
}

.wrrape-infografia {
	background-image: url(../images/bg-infografias.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position:bottom;
}

.in-infografi {
	max-width: 850px;
	margin: 0 auto;
	padding: 20px 0 ;
}

.in-infografi img {
	width: 100%;
	max-width: 100%;
	margin-left: -20px;
}

.modal-body {
	padding: 0px;
}

.in-infografi button, .in-infografi button:hover, .in-infografi button:visited  {
	background-color: transparent; 
	color: transparent;
	border: 0px solid transparent;
	border-radius: 0px;
	margin: 0 auto 10px;
	text-align: center;
	width: auto;
	display: block;
}


.info-2 {
	padding: 0px;
}

.info-2 [class*="title"],
.info-2 [class^="title"] {
	margin: 0 0 22px;
}

.in-we {
	min-height: 460px;
	padding: 30px ;
	background-image: url(../images/bg-empresas.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrrape-certificacion, .wrrape-reconocimiento {
	background-color: #F4F5FA;
}

.wrrape-reconocimiento .in-reconocimiento {
	text-align: center;
	padding: 0px 0 20px ;
}

.wrrape-reconocimiento .in-reconocimiento img {
	margin: 0 10px;
	width: auto;
	max-width: 25%;
}

.wrrape-reconocimiento .in-reconocimiento img:nth-child(1),
.wrrape-reconocimiento .in-reconocimiento img:nth-child(2) {
	max-width: 10%;
}


.wrrape-certificacion .in-award {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}

.wrrape-certificacion .in-award .in-box-award {
	background-image: url(../images/certificacion.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	min-height: 130px;
	padding: 10px 8px;
	width: calc(18% - 0px);
	flex-direction: column;
	-webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.59);
	box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.59);
}

.wrrape-certificacion .in-award .in-box-award span {
	color: #fff;
}

.wrrape-certificacion .in-award .in-box-award span:nth-of-type(2) {
	font-size: 24px;
	margin-top: 18px;
}

.wrrape-contacto {
	background-image: url(../images/bg-contacto.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
}

.in-contacto {
	display: block;
	width: 100%;
	padding: 10px 0 ;
}

.in-contacto .title h1 {
	color: #fff;
}

.in-contact {
	display: block;
	width: 100%;
	padding: 12px 0 ;
}

 .call-us {
	
}

  .call-us h2 {
	color: #fff;
	 margin:  0 0 5px;
}

 .call-us p {
	color: #fff;
	 margin:  0 0 5px;
}


.in-box-contet {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	width: 100%; 
	margin-bottom: 15px;
}

.in-box-contet:nth-child(2) {
	margin: 0px;
}

.in-contact-info p,
.in-contact-info h2 {
	font-size:18px;
	margin: 0px;
}

.in-contact-info h2  {
	display: inline-block;
}

.in-contact-info p {
	display: block;
}

.in-contact-info {
	width: 100%; 
	position: relative;
	margin-left: 5px;
}

.social-contact {
	margin: 0px;
	text-align: center;
	display: inline-block;
	float: right;
	line-height: none;
}

.social-contact li {
	display: inline-block;
	list-style: none;
	width: 23%;
}
.social-contact li a img {
	max-width: 100%;
}

.wrrape-blog {
	background-color: #F4F5FA;
}

.in-blog {
	position: relative;
}

.in-blog .title h1 {
	color: #000;
}

.in-box-blog {
	 overflow: hidden;
	  height:   1%;
	position: relative;
}
	
.in-box-blog .item-blog {
	width: calc(46.5% - 0px);
	position: relative;
	float: left;
	display: inline-flex;
	margin: 0 13px 23px;
	flex-direction: column;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}

.in-box-blog .item-blog img {
	width: 100%;
	margin: 0px;
	max-width: 100%;
}

.in-box-blog .item-blog .item-captionBlog {
	padding: 10px 20px 17px;
	text-align: center;
}

.in-box-blog .item-blog .item-captionBlog span {
	color: #9C9DA4;
	font-size: 16px;
	float: left;
	display: block;
	text-align: left;
	width: 100%;
	margin-bottom: 10px;
	font-family: CircularStd-Book;
}

.in-box-blog .item-blog .item-captionBlog h2 {
	color: #003B4A;
	margin: 0px 0 6px;
	text-align: left;
}

.in-box-blog .item-blog .item-captionBlog p {
	color: #7B868C;	
	margin-bottom: 15px;
	text-align: left;
	min-height: 130px;
}

.in-box-blog .item-blog-video {
	position: relative;
	overflow: hidden; 
	width: 96.5%;
	float: left;
	margin: 0px 14px 20px;
}

.in-aside {
	position: relative;
}

.in-aside aside.search {
	position: relative;
}

.in-aside aside.search form .form-group{
	position: relative;
	overflow: hidden;
}

.in-aside aside.search form .form-group input {
	background-color: #fff;
	font-size: 16px;
	padding: 10px;
	font-family: CircularStd-Book;
	color: #A5A6AC;
	border: 0px solid transparent;
	height: 50px;
}

.in-aside aside.search form .form-group button {
	position: absolute;
	right: 10px;
	top: 8px;
	background-color: transparent;
	color: transparent;
	border: 0px solid transparent;
}

.in-aside aside {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #E3E4E6;
}

.in-aside aside:nth-last-child(1) {
	border-bottom: 1px solid transparent;
}

.in-aside aside .titl-aside {
	position: relative;
	padding: 15px 6px;
}

.in-aside aside .titl-aside h2 {
	margin: 0px;
	color: #003B4A;
}

.media {
	background-color: #fff;
}

.media-object {
    display: block;
    width: 130px;
}

.media .media-body {
	vertical-align: middle;
}

.media .media-body .media-heading {
	color: #9C9DA4;
	font-size: 16px;
	font-family: CircularStd-Book;
}

.media .media-body h2 {
	margin: 10px 0 0px;
	color: #003B4A;
	font-size: 14px;
}

.in-aside aside ul.keywd {
	margin: 0px;
	list-style: none;
	padding: 0px;
}

.in-aside aside ul.keywd li {
	display: inline-block;
	margin: 0px 0 5px;
	padding: 8px;
	background-color: #fff;
}

.in-aside aside ul.keywd li a {
	text-decoration: none;
	color: #9C9DA4;
	font-size: 16px;
	font-family: CircularStd-Book;
}

.in-aside aside ul.catg {
	margin: 0px;
	list-style: none;
	padding: 0px;
}

.in-aside aside ul.catg li {
	display: block;
	margin: 0px 0 5px;
	padding: 8px;
	width: 100%;
	border-bottom: 1px solid #E3E4E6;
}

.in-aside aside ul.catg li a {
	text-decoration: none;
	color: #9C9DA4;
	font-size: 16px;
	font-family: CircularStd-Book;
}

.row-single {
	position: relative;
	padding-top: 30px;
}

.row-single .in-box-single {
	position: relative;
	width: 100%; 
}

.row-single .in-box-single img {
	max-width: 100%;
	width: 100%;
}

.row-single .in-box-single .in-box-captionSingle {
	position: relative;
	padding: 10px;
}

.row-single .in-box-single .in-box-captionSingle span {
	color: #9C9DA4;
	font-size: 16px;
	display: block;
	text-align: left;
	margin-bottom: 10px;
	font-family: CircularStd-Book;
}

.row-single .in-box-single .in-box-captionSingle h2 {
	color: #003B4A;
	margin: 0px 0 6px;
	text-align: left;
}

.row-single .in-box-single .in-box-captionSingle p {
	color: #7B868C;	
	margin-bottom: 10px;
	text-align: left;
}

.row-single .in-box-single .in-box-captionSingle h3 {
	color: #000;
	margin: 10px 0;
	text-align: left;
}

.row-single .in-box-single .in-box-captionSingle p a {
	color: #003B4A;
}

.row-single .in-box-single .in-box-captionSingle ul {
	margin:  0  0 0 20px;
	padding: 0px
}

.row-single .in-box-single .in-box-captionSingle ul li, .row-single .in-box-single .in-box-captionSingle ul li a {
	color: #7B868C;	
	font-size: 18px;
	font-family: CircularStd-Book;
}







.wrrape-suministro {
	background-image: url(../images/bg-snex.jpg);
	background-color: #F4F5FA;
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
	position: relative;
	background-attachment: fixed;
}

.in-boxform {
	position: relative;
	padding:20px;
	background-color: #fff;
	border: 1px solid #E3E4E6;
	text-align: center;
}

.in-boxform h2 {
	color: #003B4A;
	margin-top: 0px;
}

.in-boxform .bto-orange {
	margin-top: 10px;
}

.owl-carousel .item .box-img {
	width: 100%;
	height: 68px;
	padding: 5px 10px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	transition: all ease-in-out .3s;
	filter: grayscale(100%);
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	-webkit-background-size: contain !important;
	background-size: contain !important;
}

.owl-carousel .item .box-img:hover {
	filter: grayscale(0%);
} 

.in-suministro {
	position: relative;
	overflow: hidden;
}

.in-suministro .conectColapse .panel-default .panel-body .row p {
	margin: 0 0 20px!important;
}

.in-suministro .conectColapse .panel-default .panel-body .row .col-sm-12:nth-child(2) img {
	margin-bottom: 10px;
}



.in-suministro .in-content {
	display: inline-flex;
	justify-content: center;
	align-items: inherit;
	width: 100%;
	position: relative;
}

.in-suministro .in-content .in-content-collapse {
	position: relative;
	width: calc(61% - 0px)
}

.in-suministro .in-content .in-formInfo {
	position: relative;
	padding:0 20px;
	opacity: 1;
	width: calc(39% - 0px)
}

.flotante {
	position: fixed;
	right: 5.3em;
	width: calc(32.4% - 0px);
	height: auto;
	margin: 0 auto;
	bottom: auto;
	float: left;
	z-index: 0;
	top: 6em;
}

.flotanteFinal {
	transition: all ease-in-out .5s;
	opacity: 0;
}

.conectColapse {
	position: relative;
}

.conectColapse .panel-group .panel {
    margin-bottom: 15px;
	border-radius: 0px;
	padding: 0px;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid #E3E4E6;
	
}

.conectColapse .panel-default .panel-heading {
	padding: 0px;
	background-color:transparent;
	color: #003B4A;
	font-family: CircularStd-Medium;
	border: 0px solid transparent;
	text-align: center;
}

.conectColapse .panel-default .panel-body .row {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.conectColapse .panel-default .panel-body .row .col-sm-12 p {
	margin: 10px 0 0;
	color: #424953;
}


.conectColapse .panel-default .panel-heading span.close-open {
    position: absolute !important;
    display: block;
    width: 0px;
	height: 0px;
    top: calc(50% - 20px);
    right: 0;
}


.conectColapse .panel-default .panel-heading a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding:10px 13px;
	color: #fff;
	font-family: CircularStd-Medium;
	border: 0px solid transparent;
	text-align: center;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.conectColapse .panel-default .panel-heading a i {
	color: #fff;
	font-size: 38px;
	transition: all ease-in-out .3s;
}

.conectColapse .panel-default .panel-heading a.collapsed i {
	color: #fff;
	transition: all ease-in-out .3s;
}

.conectColapse .panel-default .panel-heading a.collapsed {
	background-color: #fff;
	color: #fff;
}

.conectColapse .panel-default:nth-child(1) .panel-heading a { background-color: #FF6B00 }
.conectColapse .panel-default:nth-child(2) .panel-heading a { background-color: #70D44B }
.conectColapse .panel-default:nth-child(3) .panel-heading a { background-color: #FF4438 }
.conectColapse .panel-default:nth-child(4) .panel-heading a { background-color: #00C1DE }
.conectColapse .panel-default:nth-child(5) .panel-heading a { background-color: #F97FB5 }
.conectColapse .panel-default:nth-child(6) .panel-heading a { background-color: #009ADE }

.conectColapse .panel-default:nth-child(7) .panel-heading a { background-color: #FF6B00 }
.conectColapse .panel-default:nth-child(8) .panel-heading a { background-color: #70D44B }
.conectColapse .panel-default:nth-child(9) .panel-heading a { background-color: #FF4438 }
.conectColapse .panel-default:nth-child(10) .panel-heading a{ background-color: #00C1DE }

/*.conectColapse .panel-default:nth-child(1) .panel-heading a.collapsed { background-color: #FF6B00 }
.conectColapse .panel-default:nth-child(2) .panel-heading a.collapsed { background-color: #FF4438 }
.conectColapse .panel-default:nth-child(3) .panel-heading a.collapsed { background-color: #F97FB5 }
.conectColapse .panel-default:nth-child(4) .panel-heading a.collapsed { background-color: #009ADE }
.conectColapse .panel-default:nth-child(5) .panel-heading a.collapsed { background-color: #00C1DE }
.conectColapse .panel-default:nth-child(6) .panel-heading a.collapsed { background-color: #70D44B }
.conectColapse .panel-default:nth-child(7) .panel-heading a.collapsed { background-color: #FF6B00 }
.conectColapse .panel-default:nth-child(8) .panel-heading a.collapsed { background-color: #FF4438 }
.conectColapse .panel-default:nth-child(9) .panel-heading a.collapsed { background-color: #F97FB5 }
.conectColapse .panel-default:nth-child(10) .panel-heading a.collapsed{ background-color: #009ADE }*/

.in-sectores-item:nth-child(1) .title-sector { background-color: #FF6B00 }
.in-sectores-item:nth-child(2) .title-sector { background-color: #70D44B }
.in-sectores-item:nth-child(3) .title-sector { background-color: #FF4438 }
.in-sectores-item:nth-child(4) .title-sector { background-color: #00C1DE }
.in-sectores-item:nth-child(5) .title-sector { background-color: #F97FB5 }
.in-sectores-item:nth-child(6) .title-sector { background-color: #009ADE }

.in-sectores-item:nth-child(7) .title-sector { background-color: #FF6B00 }
.in-sectores-item:nth-child(8) .title-sector { background-color: #70D44B }
.in-sectores-item:nth-child(9) .title-sector { background-color: #FF4438 }
.in-sectores-item:nth-child(10) .title-sector { background-color: #00C1DE }



.conectColapse .panel-default .panel-heading a.collapsed span.close-open::before {
	color: #fff;
	border-top: 11px solid #fff;
}

.conectColapse .panel-default .panel-heading a .panel-title {
    position: relative;
	margin: 0px;
	font-size: 21px;
    transition: all ease-in-out .3s;
	width: 100%;
	text-align: left;
}

.conectColapse .panel-default .panel-heading a span.close-open::before {
    width: 0;
	height: 0;
	content: '';
	background-color: transparent;
	position: absolute;
	top: 15px;
	color: #fff;
	right: 0;
	transition: all ease-in-out .3s;
	border-top: 11px solid #fff;
	border-right: 9px solid transparent;
	border-left: 9px solid transparent;
	transform: rotate(180deg);
}


.conectColapse .panel-default .panel-heading a.collapsed span.close-open::before {
	transform: rotate(0deg);
}

.in-sectores {
	display: block;
	width: 100%;
	padding: 0px 0;
	
}

.in-sectores-item {
	position: relative;
	border: 1px solid #E3E4E6;
	justify-content: center;
	background-color: rgba(255,255,255,0.7);
	padding: 0px;
	margin-bottom: 15px;
}

.in-sectores-item .title-sector {
	position: relative;
	margin:  0px;
	padding:  10px 15px;
}

.in-sectores-item:nth-child(1) .title-sector {
	background-color: #FF6B00;
}





.in-sectores-item .title-sector h2 {
	margin: 0px;
	color: #fff;
}

.in-sector-conte {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,255,255,0.7);
	padding: 15px 10px;
}

.in-sectores-item img {
	width: 100px; 
	margin-right: 10px;
	max-width: 100%;
}

.in-sectores-item .in-sectore-text {
	position: relative;
	display: block;
	width: 80%;
}

.in-sectores-item .in-sectore-text h2 {
	color: #003B4A;
	margin: 0 0 5px;
}

.in-sectores-item .in-sectore-text p {
	
}







footer {
	background-image: url(../images/bg-footer.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 10px 0px;
	overflow: hidden;
	min-height: 400px;
}

.title-footer { 
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #9C9DA4;
}

.title-footer h1 {
	color: #fff;
	margin: 0px;
}

.row-container {
	
}

.row-container .title-footer {
	margin-bottom: 0px;
}

.row-container .title-footer h1 {
	display: inline-block;
}

.social-footer {
	margin: 0px 0px -7.5px 15px; 
	padding: 0px;
	display: inline-block;
	position: relative;
	top: -4px;
}

.social-footer li {
	display: inline-block;
	margin: 0px;
	padding: 0 1px;
	width: 18%;
}

.social-footer li a img {
	width: 100%;
	max-width: 100%;
}


.row-container .content-footer {
	position: relative;
	overflow: hidden;
}

.row-container .content-footer .item-footer {
	display: inline-flex; 
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5px 0 ;
	width: 100%; 
}

.row-container .col-sm-4:nth-child(1) {
	padding-right: 0px;
}

.row-container .col-sm-4:nth-child(2) {
	padding-left: 0px;
}


.row-container .content-footer .item-footer img {
	max-width: 100%;
}

.row-container .content-footer .item-footer > div {
	position: relative;
	padding: 0 5px;
}

.row-container .content-footer .item-footer > div h2 {
	color: #fff;
	margin: 0 0 0px;
	line-height: 23px;
}

.row-container .content-footer .item-footer > div p {
	color: #fff;
	font-size: 14px;
	margin: 0px;
}

.map-site {
	padding: 13px 15px ;
	margin: 0px;
	color: #fff;
}

.map-site li {
	 display: block; 
	position: relative;
	margin-bottom: 5px;
}

.map-site li::after {
	width: 8px;
	height: 8px;
	background-color: #fff;
	position:
		absolute;
	left: -15px; 
	top:9px; 
	border-radius: 50%;
	content: '';
	
}

.map-site li:hover a {
	color: #FF6B00;
	text-decoration: none;
}


.map-site li:hover::after {
	color: #FF6B00;
	background-color: #FF6B00;
	text-decoration: none;
}



.map-site li a {
	text-decoration: none;
	color: #fff;
	font-size: 19px;
	font-family: CircularStd-Bold;
}

.mediosdepago {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	width: 100%;
	max-width: 600px;
	margin: 0 auto 20px;
	justify-content: space-around;
	align-items: center;
}

.zlink {
	display: inline-flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	padding: 10px 0 ;
	border-top: 2px solid #9C9DA4;
	width: 100%;
}

.zlink p, .zlink a {
	font-family: CircularStd-Book;
	font-size: 14px;
	color:#fff;
	margin-bottom: 0px;
	text-decoration: none;
}

.conten-sector .item-sector img {
	width: 84%;
}

.wrrape-certificacion .in-award {
	flex-direction: column;
}

.wrrape-certificacion .in-award .in-box-award {
	width: calc(100% - 0px);
	margin-bottom: 15px;
	flex-direction: column;
}

.wrrape-certificacion .in-award .in-box-award span {
	display: block;
}



/********************************/

.in-promo {
	position: relative;
	padding: 60px 0 0px;
	margin: 0px;
}

.in-promo .row {
	margin: 0px;
}

.in-promo .row .col-sm-6:nth-child(1) {
	background-color: #00C1DE;
	position: relative;
}

.in-promo .row .col-sm-6:nth-child(2) {
	background-color: #009ADE;
	position: relative;
}

.in-promo .in-item-promo {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 325px;
	overflow: visible;
	position: relative;
}

.in-info-promo, .in-img-promo {
	width: calc(100% / 2);
	position: relative;
}

.in-info-promo {
	position: relative;
	margin: 0 auto;
	padding: 0 30px;
}

.in-info-promo span {color: #fff; display: block; margin: 0px 0 15px;}

.in-info-promo h2 {	color: #fff;margin: 0px 0 23px;}

.in-img-promo {
	text-align: center;
}

.in-img-promo img {
	width: auto;
	top: -30px;
	margin: 0 auto;
	position: relative;
}

.in-promo .row .col-sm-6:nth-child(2) .in-img-promo img {
	left: -60px;
}

.in-allproductos {
	position: relative;
	overflow: hidden;
	padding: 1px;
}

.in-destacado {}
.in-destacado .row {}
.in-destacado .row .col-sm-8 {
	padding-left: 0px;
}

.in-producto-big {
	width: 59%;
	position: relative;
	float: left;
	margin-right: 15px;
	padding:0 ;
	display: block;
	overflow: hidden;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.59);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.59);
}

.in-producto-big a {
	color: #fff;
}

.in-producto-big > a:focus,
.in-producto-big > a:visited {
	color: #fff;
}

.in-producto-big .in-topet {
	position: relative;
	overflow: hidden;
}

.in-producto-big .in-topet h2 {
	position:absolute;
	display: block;
	bottom: 0px;
	text-align: center;
	padding: 10px 0 ;
	width: 100%;
}

.in-producto-big .in-botep {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	padding:  15px 0 ;
}

.in-producto-big .in-botep a {
	margin: 0;
}

.in-producto-big .in-botep h2 {
	margin: 0px;
	color: #FF6B00;
}

.in-producto-big img {
	width: 100%;
}

.in-producto-mini {
	width: 38%;
	position: relative;
	float: left;
	overflow: hidden;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.59);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.59);
	margin-bottom: 15px;
}

.in-producto-mini:nth-last-child(1) {
	margin-bottom: 0px;
}

.in-producto-mini img {
	width: 100%;
}

.in-producto-mini .in-topet {
	position: relative;
	overflow: hidden;
}

.in-producto-mini .in-topet > a,
.in-producto-mini .in-topet > a:hover,
.in-producto-mini .in-topet > a:visited  {
	color: #fff;
}

.in-producto-mini .in-topet h2 {
	position:absolute;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: flex-start; 
	align-items: center;
	bottom: 0px;
	text-align: left;
	color: #fff;
	padding: 10px ;
	width: 100%;
	height: 60px;
	vertical-align: middle;
	margin: 0px;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.64)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

.in-producto-mini .in-botep {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	padding: 15px 0;
}

.in-producto-mini .in-botep a {
	margin: 0;
}

.in-producto-mini .in-botep h2 {
	margin: 0px;
	color: #FF6B00;
}

.paginador {
	position: relative;
	margin: 10px auto;
	text-align: left;
	width: 100%;
	display: block;
}

.paginador li, .paginador li a {
	color: #A5A6AC;
	font-size:21px;
	display: inline-block;
	font-family: CircularStd-Bold;
}

.paginador li.active a {
	color: #003B4A;
}

.paginador li a {
	text-decoration: none;
	padding: 0 2px;
}

.in-filtros .in-content-collapse .panel-default > .panel-heading + .panel-collapse > .panel-body {
	background-color: #F4F5FA;
	padding: 10px 5px;
}

.in-filtros .in-content-collapse .panel-collapse > .panel-body .dropdown { 
}

.in-filtros .in-content-collapse .panel-collapse > .panel-body .dropdown button { 
	display: block;
	color: #003B4A;
	text-decoration: none;
	width: 100%;
    background-color: transparent;
    border: 0;
    text-align: left;
}

.in-filtros .in-content-collapse .panel-collapse > .panel-body .dropdown button:nth-last-of-type(1){
	margin-bottom: 0px;
}

.in-filtros .in-content-collapse .panel-collapse > .panel-body .dropdown button span {
	font-size: 18px;
}

.in-filtros .in-content-collapse .panel-collapse > .panel-body .dropdown button > i {
	margin-right: 3px;
	font-size: 20px;
}

.in-filtros .in-content-collapse .panel-collapse > .panel-body .dropdown .dropdown-menu {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}

.in-filtros .in-content-collapse .panel-collapse > .panel-body .dropdown  .dropdown-menu > li > a {
	font-size: 16px;
	color: #003B4A;
    font-family:CircularStd-Book;
}

.in-filtros .in-content-collapse .panel-body.content form .checkbox {
	padding:  0 10px;
}

.in-filtros .in-content-collapse .panel-body.content form .checkbox label {
	font-size: 18px;
}

.in-page-productos {
	overflow: hidden;
	min-height: 1%;
	text-align: center;
	padding:  1px;
	margin-left: -10px;
    margin-right: -10px;

}

.in-producto {
	width: calc(95% / 3);
	position: relative;
	float: left;
	margin:  0 5px;
	overflow: hidden;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.59);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.59);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.59);
	margin-bottom: 15px;
}

.in-producto:nth-last-child(1) {
	margin-bottom: 0px;
}

.in-producto img {
	width: 100%;
}

.in-producto .in-topet {
	position: relative;
	overflow: hidden;
}

.in-producto .in-topet > a,
.in-producto .in-topet > a:hover,
.in-producto .in-topet > a:visited  {
	color: #fff;
}

.in-producto .in-topet h2 {
	position:absolute;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: flex-start; 
	align-items: center;
	bottom: 0px;
	text-align: left;
	color: #fff;
	padding: 10px ;
	width: 100%;
	height: 60px;
	vertical-align: middle;
	margin: 0px;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.64)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.64) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

.in-producto .in-botep {
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	padding: 15px 0;
}

.in-producto .in-botep a {
	margin: 0;
}

.in-producto .in-botep h2 {
	margin: 0px;
	color: #FF6B00;
}

.in-page .in-filtros {
	
}

.in-page .filters {
	text-align: center;
	max-width: 1150px;
	margin: 0  auto;
	padding:  10px 0 ;
}

.in-page .filters form .form-group {
	margin: 0px;
	width: calc(98% / 3);
	display: inline-block;
}

.in-page .filters form .form-group .form-control {
	height: 46px;
	color: #003B4A;
	background-color: #FFFFFF;
	border: 1px solid #E3E4E6;
	font-family: CircularStd-Medium;
    font-size: 18px;
}

.wrrape-banner-promocion {
	
}

.in-bapromo {
	position:relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0px;
	min-height: 420px;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;
	-o-display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.in-bapromo .in-text-promo h2 {
	color: #009ADE; 
	margin: 0 0 15px;
}

.in-bapromo .in-text-promo p {
	color: #424953;
	margin:  0 0 15px;
}

.in-bapromo .in-text-promo {
	max-width: 600px;
    margin: 0 auto;
    text-align: left;
    left: -3em;
    position: relative;
}

.in-filtros {
	position: relative;
	padding: 0 10px;
}

.in-filtros aside form {
	margin-bottom: 20px;
}

.search {
	position: relative!important;
	overflow: hidden;
	padding: 0px;
}

.but_sear {
	padding: 0px;
	background-color: none;
}

 .but_sear i {
	color: #fff;
	font-size: 25px;
	text-align: center;
	z-index: 9;
}

aside.search .form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 6px 12px;
	font-family:CircularStd-Bold;
    font-size: 14px;
    line-height: 1.42857143;
    color: #003B4A;
    background-color: #fff;
    background-image: none;
    border: 1px solid #FF6B00;
    border-radius: 0px;
	vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

aside.search .form-control::placeholder {
	color: #003B4A;
}

.search .but_sear {
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #FF6B00;
	border: 0px solid transparent;
	width: 60px;
	height: 100%;
}

 aside.search a {
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 3px 0 ;
}

 aside.search a span {
	border-radius: 50%;
    text-align: center;
    padding: 2px 8px 3px 8px;
    display: inline-flex;
    color: #fff;
    background-color: #003ea1;
}


.inte-search {
	position: relative;
	overflow: hidden;
}

.box-aside {
	position: relative;
	padding: 0px;
	margin-bottom: 15px;
}

.box-aside .dropdown {
	position: relative;
}

.titulo-ap {
	color: #000;padding: 5px ;
	background-color: #fff;
	margin-bottom: 0px;
}


.box-aside .dropdown button {
	background-color: transparent;
	color: #7D858B;
	width: 100%;
	font-family:Roboto-Regular;
	text-align: left;
	border: 1px solid transparent;
	padding: 14px 2px;
	font-size: 18px;
	border-radius: 0px;
	border-bottom: 2px dashed #7D858B;
}

.box-aside .dropdown button span  {
	text-align: right;
	float: right;
	top: 8px;
	position: relative;
}


.btn-default:active:hover, .btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
	background-color: transparent!important;
	border: 1px solid transparent;
	border-bottom: 2px dashed #7D858B;
	color: #FF6B00;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	
}

.box-aside .dropdown-menu {
	position: relative;
	top: 0px;
	width: 100%;
	background-color: transparent!important;
	border: 0px solid transparent;
	box-shadow: none;
}

.box-aside .star:nth-child(2){
	margin-top: 10px;
}

.box-aside .star {
	text-align: left;
	margin: 0px;
    padding: 0px;
    list-style: none;
}

.box-aside .star li {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
}


.box-aside .star li i {
	color: #F3CC23;
	font-size: 23px;
}

.slide-precio {
	padding: 10px;
	margin: 0px 0;
	text-align: ce;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 20px!important;
    height: 20px!important;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #0082CB!important;
    background: #0082CB!important;
    font-weight: normal;
    color: #0082CB;
	border-radius: 0px!important;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #70D44B!important;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #C1C5C8!important;
    color: #003B4A;
}

.content {
	position: relative;
	height: 180px;
	overflow: hidden;
	padding-top: 10px;
}

.content a {
	color: #003B4A;
    width: 100%;
	font-size: 18px;
	display: block;
	text-decoration: none;
	padding: 0px 5px 5px;
    font-family:CircularStd-Medium;
	border-radius: 0px;
	margin: 0px 0 5px!important;
	
}


.in-page-single {
	background-image: url(../images/bg-snex.jpg);
    background-color: #F4F5FA;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    position: relative;
    background-attachment: fixed;
}

.in-single {
	position: relative;
	padding: 15px 0 ;
}

#lightgallery {
	width: 76.7%;
	padding-left: 5px;
}

.other-teals {
	width: 25%;
}

.other-teals a {
	display: block;
	margin-bottom: 15px;
}

.other-teals a:nth-last-of-type(1) {
	margin-bottom: 0px;
}

.other-teals a img {
	width: 100%;
}


.in-single .gallery {
	position: relative;
	flex-direction: row-reverse;
	-webkit-display: inline-flex;
	-moz-display: inline-flex;
	-ms-display: inline-flex;
	-o-display: inline-flex;
	display: inline-flex;
	justify-content:center;
	align-items: center;
	width: 100%;

}

.panel-single {
	background-color: #fff;
    padding: 20px;
    min-height: 487px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.panel-single h3 {
	margin: 0 0 10px;
	color: #003B4A;
}

.panel-single > span {
	font-size: 21px;
	color: #FF6B00;
	display: block;
	margin: 15px 0;
}

.panel-single > p {
	color: #424953;
	font-size: 18px;
	margin-bottom: 10px;
}

.referncia {
	    font-family: CircularStd-Bold;
	font-size: 20px;
	color: #003B4A;
	display: block;
	margin:  8px 0 ;
}

.referncia span {
	font-size: 20px;
	margin-left: 15px;	
}

.form-inline .form-group  {
	display: block;
	margin: 15px 0;
}

.form-inline .form-group label {
	font-family: CircularStd-Bold;
	font-size: 20px;
	color: #003B4A;
	width: 100px;
	padding: 0px 5px 5px 0;
	margin: 0px;
	font-weight: 500;
	margin-right: 15px;
}

.form-inline .form-control {
	width: 50px;
	display: block;
	border-radius: 0px;
	text-align: center;
}

.panel-single ul {
	margin: 20px 0 0 25px;
}

.panel-single ul li {
	padding:  0 0px;
}

.conte-tabs {
	padding: 20px 0;
}

.conte-tabs .tab-button {
	display: block;
	padding: 5px 0;
	width: 100%;
	margin-bottom: 10px;
}

.conte-tabs .tab-button button {
	width: 260px;
	height: 45px;
	vertical-align: middle;
	padding: 0 10px;
	font-family: CircularStd-Bold;
	text-align: left;
	margin-right: 15px;
	background-color: #70D44B;
	border: 0px solid transparent;
	color: #fff;
	font-size: 24px;
}

.conte-tabs .tab-button button.active {
	background-color: #FF6B00;
}

.info-section {
	padding:  0 10px;
}


.gallery {
	
}


.tow-tabla {
margin-bottom: 20px;
}

.tow-tabla.table tbody tr:nth-child(1) {
background-color: transparent!important;
}

.tow-tabla.table tbody tr:nth-child(1) th {
color: #fff;
text-align: left!important;
}

.tow-tabla.table tbody tr th {
background-color: #426AB3;
color: #fff;
margin: 0px;
font-family:CircularStd-Book;
font-size: 18px;
text-align: left;
}

.inhalt-negocio {
	padding-bottom: 20px;
}

.inhalt-negocio .table tbody tr:nth-child(1) {
background-color: #009ADE;
}

.inhalt-negocio .table tbody tr:nth-child(1) th {
color: #fff;
margin: 0px;
font-family:CircularStd-Book;
font-size: 18px;
text-align: center;
vertical-align: middle
}

.inhalt-negocio .form-control {
	font-family:CircularStd-Book;
}

.inhalt-negocio .table tbody tr td {
font-family:CircularStd-Book;
color: #424953;
vertical-align: middle;
text-align: center;
width: 20%;
font-size: 18px;
}

.inhalt-negocio .table tbody tr td input {
	width: 100px;
}

.inhalt-negocio .table tbody tr td:nth-last-child(1) {
font-family:CircularStd-Bold;
}

.totaliti tbody tr th:nth-child(1) {
font-family:CircularStd-Book;
color: #424953;
vertical-align: middle;
text-align: center;
font-size: 18px;
}

.pago-Payu {
position: relative;
padding: 10px;
margin: 20px 0;
background-color: #F5F5F5;
}

.pago-Payu .radio-inline {
font-family:CircularStd-Book;
font-size: 16px;
}

.inhalbacj {
position: relative;
box-sizing: border-box;
width: 100%;
padding: 1em;
margin: 1em 0;
font-size: .92em;
border-radius: 2px;
line-height: 1.5;
background-color: #dfdcde;
color: #515151;
}

.inhalbacj::before {
content: '';
display: block;
border: 1em solid #dfdcde;
	border-top-color: rgb(223, 220, 222);
	border-right-color: rgb(223, 220, 222);
	border-left-color: rgb(223, 220, 222);
border-right-color: transparent;
border-left-color: transparent;
border-top-color: transparent;
position: absolute;
top: -.75em;
left: 0;
margin: -1em 0 0 2em;
}

.inhalbacj p {
margin: 0px;
font-size: 15px;
font-family:CircularStd-Medium;
}

.inhalt-negocio form label {
color: #7B868C;
font-family:CircularStd-Medium;
font-size: 16px;
	letter-spacing: 1px;
}

.inhalt-negocio .radio label {
font-family:CircularStd-Medium;
font-size: 16px;
letter-spacing: 1px;
}

.radicado {
display: block;
float: none;
margin: 15px auto;
padding: 10px;
border: 1px solid #426AB3;
text-align: center;
width: 11%;
}

.fhot th {
font-size: 18px;
}




