
/*
 xs: 767px
 sm: 768px - 991px
 md: 992px - >
*/


@media (max-width:768px) {
	
	.mediosdepago {
		flex-direction: column;
	}
		
	.pre-header .pos-header .item {
		padding: 2px 5px;
	}
	
	.pre-header {
		height: 100%;
		flex-direction: column;
	}
	
	.social {
		display: none;
	}
	
	.navbar-nav {
		float: left;
		margin: 0;
		display: inline-block;
		padding: 10px 0 0 0;
		width: 100%;
	}
	
	.pbx-header {
		width: 100%;
	}

	.logo {
		position: relative;
		width: 76%;
		display: inline-block;
		padding: 13px 0px 0;
	}
	
	.logo img {
		max-width: 100%;
		width: 100%;
	}
	
	.hed-lft {
		display: none;
	}
	
	.hed-lft, .hed-rigt {
		width: 100%;
		justify-content: flex-start;
	}
	
	.main {
		margin-top: calc(0% - -94px) !important;
	}
	
	.prenav_hidden {
		margin-top: -38px !important;
	}
	
	.navbar-inverse .navbar-toggle .icon-bar {
		background-color: #FF6B00;
	}
	
	.navbar-inverse .navbar-nav > li.cart {
		margin: 10px 0 10px 14px;
	}
	
	.content-img .content-text h1 {
		color: #fff;
		font-size: 49px;
		line-height: 42px;
		margin: 0px 0 25px;
	}
	
	.wrrape-info .container > .row {
		flex-direction: column;
	}
	
	.wrrape-info .content-info img {
		max-width: 100%;
		width: 100%;
		padding: 10px 0 ;
	}
	
	.content-info-form .checkbox label {
		color: #003B4A;
	}
	
	.content-nosot{
		padding: 20px 0 ;
	}
	
	.box-nosot, .box-sector {
		flex-direction: column;
	}
	
	.progress {
		margin: 50px 0 20px;
		width: 100%;
		font-family: CircularStd-Book;
		background-color: #E3E4E6;
		border-radius: 0px;
	}
	
	.conten-sector {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	
	.conten-sector .item-sector {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: calc(45% - 0px);
	}
	
	.in-infografi img {
		margin: 0px auto 15px;
	}
	
	.in-categoria {
		flex-direction: column;
	}
	
	.in-categoria .in-box-cat {
		width: calc(100% - 0px);
		margin-bottom: 15px;
	}
	
	

	#desplegar {
		float: none!important;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
		
	[class*="wrrape-"] [class*="inhalt-"] ul li,
	[class^="wrrape-"] [class^="inhalt-"] ul li {
		display: inline-block;
		margin-right: 9px;
		width: calc(46% - 0px);
	}
	
	.content-img {
		height: 76vh;
		background-size: cover;
		background-position: -93px top;
		background-repeat: no-repeat;
	}
	
	
	footer .inhalt-footer {
		margin: 15px 0 ;
	}
	
	.navbar-nav > li > a {
		padding: 2px 10px;
	}	
	
	.zlink {
		flex-direction: column;
	}
	
	.in-page-nosotros .content-nosot .box-img {
		display: none;
	}
	
	.in-page-nosotros .content-nosot .con-boxis {
		width: 100%;
	}

	.in-we {
		min-height: 100%;
		padding: 20px 0;
	}
	
	.in-box-blog .item-blog, .in-box-blog .item-blog-video {
		width: calc(100% - 0px);
		margin: 0px auto 20px;
		background-color: #fff;
	}
	
	.in-box-contet {
		width: 100%;
		justify-content: flex-start;
	}

	.in-box-contet .in-contact-info {
		width: 70%;
	}
	
	.in-contact {
		padding: 10px 0 10px ;
	}
	
	.social-contact {
		margin-bottom: 15px;
	}
	
	.row-container .col-sm-4:nth-child(2) {
		padding-left: 15px;
	}
	
	.row-container .title-footer {
		margin-bottom: 0px;
		margin-top: 5px;
	}
	.social-footer {
		margin: 5px 0px -6px 0px;
		padding: 0px;
		display: inline-block;
		position: relative;
		top: -4px;
		width: 55%;
	}
	
	.social-footer li {
		display: inline-block;
		margin: 0px;
		padding: 0 1px;
		width: 24%;
	}
	
	.map-site {
		padding-bottom: 0px;
	}
	
	.wrrape-info {
		background-size: auto;
		background-position: -140px top;
	}
	
	.content-info {
		height: auto;
		padding-bottom: 40px;
	}
	
	.content-info p {
		color: #fff;
		font-size: 26px;
		text-align: center;
		line-height: 26px;
		margin: 0px 0 20px;
	}
	
	.content-info span {
		font-size: 28px;
		line-height: 29px;
		margin: 0px auto;
		float: right;
		color: #fff;
	}
	
	.content-info span {
		font-size: 28px;
		line-height: 29px;
		margin: 0px auto;
		float: right;
		color: #fff;
	}
	
	.in-categoria .in-box-cat span {
		width: calc(74% - 0px);
		text-align: left;
		line-height: 18px;
		margin-left: 6px;
	}
	
	.in-we {
		background-position: left;
	}

	.wrrape-reconocimiento .in-reconocimiento img:nth-child(1),
	.wrrape-reconocimiento .in-reconocimiento img:nth-child(2) {
		max-width: 41%;
	}
	
	.wrrape-reconocimiento .in-reconocimiento img {
		margin: 7px;
		width: auto;
		max-width: 88%;
	}
	
	.in-suministro .in-content .in-formInfo, .in-suministro .in-content .in-content-collapse {
		width: calc(100% - 0px);
	}
	
	.in-suministro .in-content {
		flex-wrap: wrap;
	}

	.in-suministro .in-content .in-formInfo {
		padding: 0px;
	}
	
	.in-boxform {
		position: relative;
		opacity: 1 !important;
		display: block !important;
		width: 100%; left: 0!important;
		right: 0!important;
		top: 0!important;
	}
	
	.conectColapse .panel-default .panel-heading a .panel-title {
		font-size: 18px;
	}
	
	.in-suministro {
		margin-bottom: 20px;
	}
	
	.conectColapse .panel-default .panel-heading .row {
		margin: 0px;		
	}
	
	.conectColapse .panel-default .panel-body .row {
		flex-wrap: wrap;
	}
	
	.wrrape-contacto {
		background-image: url(../images/bg-contacto-mobil.png);
	}
	
	.in-contacto {
		padding: 0 0 20px;
	}
	
	.in-contacto .content-info-form .checkbox label {
		color: #fff;
	}
	
	.in-categoria {
		width: 100%;
	}
	
	.conten-sector .item-sector img {
		width: auto;
	}
	
	.in-bapromo .in-text-promo {
		max-width: 600px;
		margin: 0 auto;
		text-align: left;
		left: 0;
		position: relative;
	}
	
	.in-producto-big {
		width: 100%;
		margin: 0px 0 15px;
	}
	
	.wrrape-home.zona-privada .content-img {
		height: 26vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	
	.in-promo .in-item-promo {
		flex-direction: column;
		max-height: 765px;
		padding:  15px 0 ;
	}
	
	.in-info-promo {
		position: relative;
		margin: 0 auto;
		padding: 0 10px;
	}
	
	.in-info-promo,
	.in-img-promo {
		width: calc(100% / 1);
		position: relative;
	}
	
	.in-img-promo  {
		margin:  10px auto 0;
	}
	
	.in-info-promo {
		margin-bottom: 10px;
	}
	
	.in-img-promo img {
		width: 100%;
		top: 0px;
		margin: 0 auto;
		position: relative;
	}

	.in-promo .row .col-sm-6:nth-child(2) .in-img-promo img {
		left: 00px;
	}
	
	.in-promo {
		position: relative;
		padding: 10px 0 0px;
		margin: 0px;
	}
	
	.in-destacado .row .col-sm-8 {
		padding-left: 15px;
	}
	
	.in-producto-mini {
		width: 100%;
	}
	
	.in-bapromo {
    	min-height: 320px;
	}
	
	.in-page .filters form .form-group {
		margin: 0px auto 5px;
		width: calc(100% / 1);
		display: inline-block;
	}
	
	.in-page .filters form {
		margin-bottom: 15px;
	}
	
	.in-producto {
		width: calc(97% / 1);
		position: relative;
	}
	
	.other-teals a {
		display: block;
		margin-bottom: 6px;
	}
	
	.conte-tabs .tab-button button {
		margin-bottom: 10px;
	}
	
}

@media only screen and (min-width:768px) and (max-width: 991px) {
	.navbar-header {
		width: 25%;
	}
	
	.navbar-inverse .navbar-nav > li {
		margin: 0px;
	}
	
	.navbar-inverse .navbar-nav > li > a {
		padding: 6px;
	}
	
	.navbar-inverse .navbar-nav > li.cart {
		margin: 0px 0 0px 1px;
	}
	
	.navbar-nav {
		width: auto;float: right;padding: 5px 0 0 0;
	}
	
	.logo {
		width: 100%;
	}
	
	.navbar-inverse .navbar-nav > li > a {
		font-size: 15px;
	}
	
	.cart {
		display: none!important;
	}
	
	.main {
		margin-top: calc(0% - -81px) !important;
	}
	
	.conten-sector .item-sector {
		width: calc(22% - 0px);
	}
	
	.wrrape-info {
		background-size: auto;
		background-position: -42px top;
	}
	
	.wrrape-info .container > .row {
		flex-direction: inherit;
	}
	
	.social-footer li {
		display: inline-block;
		margin: 0px;
		padding: 0 1px;
		width: 9%;
	}
	
	.in-we .row .col-sm-6 {
		width: 80%;
	}
	
	.media-object {
		display: none;
	}
	
	.in-img-promo img {
		width: 86%;
		top: 0px;
		margin: 0 auto;
		position: relative;
		padding: 10px 0;
	}
	
	.in-promo .row .col-sm-6:nth-child(2) .in-img-promo img {
		left: 00px;
	}

	.in-producto {
		width: calc(95% / 2);
		position: relative;
	}
	
	.in-producto .in-botep h2 {
		margin: 0px;
		color: #FF6B00;
		font-size: 18px;
	}
	
	.conte-tabs .tab-button button {
		margin-bottom: 5px;
	}
	
	.other-teals a {
		display: block;
		margin-bottom: 6px;
	}
	
}

@media only screen and (min-width:992px) and (max-width: 1199px) {
	
	.main {
		margin-top: calc(0% - -106px) !important;
	}
	
	.in-producto .in-botep h2 {
		margin: 0px;
		color: #FF6B00;
		font-size: 18px;
	}
	
	.logo {
	    width: auto;
	}
	
	.navbar-inverse .navbar-nav > li > a {
		padding: 5px;
	}
	
	.navbar-header {

		float: left;
		width: 30%;

	}
	.hed-lft {
		width: calc(100% - 0px);
	}
	
	.in-categoria .in-box-cat img {
		width: 52px;
	}
	
	.in-categoria .in-box-cat span {
		font-size: 16px;
	}
	
	.in-page-nosotros .content-nosot .con-boxis {
		width: calc(85% - 0px);
	}
	
	.in-suministro .in-content .in-formInfo {
		position: relative;
		padding: 0 0px 0 20px;
		opacity: 1;
		width: calc(39% - 0px);
	}
	
	.flotante {
		right: 3em;
		width: calc(34% - 0px);
	}
	
	.in-box-blog .item-blog {
		margin: 0 10px 23px;
	}
	
	.wrrape-nosotros {
		background-position: right;
	}
	
	.in-img-promo img {
		width: 100%;
		top: -10px;
		margin: 0 auto;
		position: relative;
	}
	
	.in-info-promo {
		position: relative;
		margin: 0 auto;
		padding: 0 10px;
	}
	
	.in-info-promo h2 {
		color: #fff;
		margin: 0px 0 13px;
	}
	
	.in-info-promo span {
		color: #fff;
		display: block;
		margin: 0px 0 5px;
	}
	
	.in-promo .row .col-sm-6:nth-child(2) .in-img-promo img {
		left: -20px;
	}
	
	.in-promo {
		position: relative;
		padding: 20px 0 0px;
		margin: 0px;
	}

}

@media only screen and (min-width:1200px) and (max-width: 1366px) {

}

@media only screen and (min-width:1367px){
	.main {
		margin-top: calc(0% - -106px) !important;
	}
	
	.in-suministro .in-content .in-formInfo {
		padding: 0 0px 0 20px;
	}
	
	.flotante {
		position: fixed;
		right: 10em;
		width: 420px;
		height: auto;
		margin: 0 auto;
		bottom: auto;
		float: left;
		z-index: 0;
		top: 7.4em;
	}
	

}

@media (min-width: 600px) and (max-width:768px) and (orientation: landscape) {
	.in-img-promo img {
		width: auto;
	}
	
	.in-bapromo .in-text-promo {
		max-width: 400px;
		margin: 0 auto;
		text-align: left;
		left: -4em;
		position: relative;
	}
	
	.main {
		margin-top: calc(0% - -110px) !important;
	}
	
	.wrrape-home.zona-privada .content-img {
		height: 86vh;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	
	.in-producto {
		width: calc(96.5% / 2);
		position: relative;
	}


}


