@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8i7ny5');
  src:  url('fonts/icomoon.eot?8i7ny5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8i7ny5') format('truetype'),
    url('fonts/icomoon.woff?8i7ny5') format('woff'),
    url('fonts/icomoon.svg?8i7ny5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
  content: "\e900";
}
.icon-02 .path1:before {
  content: "\e901";
  color: rgb(38, 202, 211);
}
.icon-02 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(38, 201, 211);
}
.icon-02 .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(37, 200, 210);
}
.icon-02 .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(37, 199, 210);
}
.icon-02 .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(37, 198, 210);
}
.icon-02 .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(37, 197, 209);
}
.icon-02 .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(36, 196, 209);
}
.icon-02 .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(36, 195, 209);
}
.icon-02 .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(36, 194, 208);
}
.icon-02 .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(36, 193, 208);
}
.icon-02 .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(35, 192, 208);
}
.icon-02 .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(35, 191, 207);
}
.icon-02 .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(35, 190, 207);
}
.icon-02 .path14:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(35, 189, 207);
}
.icon-02 .path15:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(34, 188, 206);
}
.icon-02 .path16:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(34, 187, 206);
}
.icon-02 .path17:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(34, 186, 206);
}
.icon-02 .path18:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(34, 185, 205);
}
.icon-02 .path19:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(33, 184, 205);
}
.icon-02 .path20:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(33, 183, 205);
}
.icon-02 .path21:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(33, 182, 204);
}
.icon-02 .path22:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(33, 181, 204);
}
.icon-02 .path23:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(32, 180, 204);
}
.icon-02 .path24:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(32, 179, 203);
}
.icon-02 .path25:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(32, 178, 203);
}
.icon-02 .path26:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(32, 177, 203);
}
.icon-02 .path27:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(31, 176, 202);
}
.icon-02 .path28:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(31, 175, 202);
}
.icon-02 .path29:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(31, 174, 201);
}
.icon-02 .path30:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(31, 173, 201);
}
.icon-02 .path31:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(30, 172, 201);
}
.icon-02 .path32:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(30, 171, 200);
}
.icon-02 .path33:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(30, 170, 200);
}
.icon-02 .path34:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(30, 169, 200);
}
.icon-02 .path35:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(29, 168, 199);
}
.icon-02 .path36:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(29, 167, 199);
}
.icon-02 .path37:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(29, 166, 199);
}
.icon-02 .path38:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(29, 165, 198);
}
.icon-02 .path39:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(28, 164, 198);
}
.icon-02 .path40:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(28, 163, 198);
}
.icon-02 .path41:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(28, 162, 197);
}
.icon-02 .path42:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(28, 161, 197);
}
.icon-02 .path43:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(27, 160, 197);
}
.icon-02 .path44:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(27, 159, 196);
}
.icon-02 .path45:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(27, 158, 196);
}
.icon-02 .path46:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(27, 157, 196);
}
.icon-02 .path47:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(26, 156, 195);
}
.icon-02 .path48:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(26, 155, 195);
}
.icon-02 .path49:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(26, 154, 195);
}
.icon-02 .path50:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(26, 153, 194);
}
.icon-02 .path51:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(25, 152, 194);
}
.icon-02 .path52:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(25, 151, 194);
}
.icon-02 .path53:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(25, 150, 193);
}
.icon-02 .path54:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(25, 149, 193);
}
.icon-02 .path55:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(24, 148, 193);
}
.icon-02 .path56:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(24, 147, 192);
}
.icon-02 .path57:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(24, 146, 192);
}
.icon-02 .path58:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(24, 145, 192);
}
.icon-02 .path59:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(23, 144, 191);
}
.icon-02 .path60:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(23, 143, 191);
}
.icon-02 .path61:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(23, 142, 191);
}
.icon-02 .path62:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(23, 141, 190);
}
.icon-02 .path63:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(22, 140, 190);
}
.icon-02 .path64:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(22, 139, 190);
}
.icon-02 .path65:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(22, 138, 189);
}
.icon-02 .path66:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(22, 137, 189);
}
.icon-02 .path67:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(21, 136, 189);
}
.icon-02 .path68:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(21, 135, 188);
}
.icon-02 .path69:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(21, 134, 188);
}
.icon-02 .path70:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(21, 133, 188);
}
.icon-02 .path71:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(20, 132, 187);
}
.icon-02 .path72:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(20, 131, 187);
}
.icon-02 .path73:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(20, 130, 187);
}
.icon-02 .path74:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(20, 129, 186);
}
.icon-02 .path75:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(19, 128, 186);
}
.icon-02 .path76:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(19, 127, 186);
}
.icon-02 .path77:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(19, 125, 185);
}
.icon-02 .path78:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(18, 124, 185);
}
.icon-02 .path79:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(18, 123, 184);
}
.icon-02 .path80:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(18, 122, 184);
}
.icon-02 .path81:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(18, 121, 184);
}
.icon-02 .path82:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(17, 120, 183);
}
.icon-02 .path83:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(17, 119, 183);
}
.icon-02 .path84:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(17, 118, 183);
}
.icon-02 .path85:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(17, 117, 182);
}
.icon-02 .path86:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(16, 116, 182);
}
.icon-02 .path87:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(16, 115, 182);
}
.icon-02 .path88:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(16, 114, 181);
}
.icon-02 .path89:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(16, 113, 181);
}
.icon-02 .path90:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(15, 112, 181);
}
.icon-02 .path91:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(15, 111, 180);
}
.icon-02 .path92:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(15, 110, 180);
}
.icon-02 .path93:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(15, 109, 180);
}
.icon-02 .path94:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(14, 108, 179);
}
.icon-02 .path95:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(14, 107, 179);
}
.icon-02 .path96:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(14, 106, 179);
}
.icon-02 .path97:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(14, 105, 178);
}
.icon-02 .path98:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(13, 104, 178);
}
.icon-02 .path99:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(13, 103, 178);
}
.icon-02 .path100:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(13, 102, 177);
}
.icon-02 .path101:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(13, 101, 177);
}
.icon-02 .path102:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(12, 100, 177);
}
.icon-02 .path103:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(12, 99, 176);
}
.icon-02 .path104:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(12, 98, 176);
}
.icon-02 .path105:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(12, 97, 176);
}
.icon-02 .path106:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(11, 96, 175);
}
.icon-02 .path107:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(11, 95, 175);
}
.icon-02 .path108:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(11, 94, 175);
}
.icon-02 .path109:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(11, 93, 174);
}
.icon-02 .path110:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(10, 92, 174);
}
.icon-02 .path111:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(10, 91, 174);
}
.icon-02 .path112:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(10, 90, 173);
}
.icon-02 .path113:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(10, 89, 173);
}
.icon-02 .path114:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(9, 88, 173);
}
.icon-02 .path115:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(9, 87, 172);
}
.icon-02 .path116:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(9, 86, 172);
}
.icon-02 .path117:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(9, 85, 172);
}
.icon-02 .path118:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(8, 84, 171);
}
.icon-02 .path119:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(8, 83, 171);
}
.icon-02 .path120:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(8, 82, 171);
}
.icon-02 .path121:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(8, 81, 170);
}
.icon-02 .path122:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(7, 80, 170);
}
.icon-02 .path123:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(7, 79, 170);
}
.icon-02 .path124:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(7, 78, 169);
}
.icon-02 .path125:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(7, 77, 169);
}
.icon-02 .path126:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(6, 76, 169);
}
.icon-02 .path127:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(6, 75, 168);
}
.icon-02 .path128:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(6, 74, 168);
}
.icon-02 .path129:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(6, 73, 167);
}
.icon-02 .path130:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(5, 72, 167);
}
.icon-02 .path131:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(5, 71, 167);
}
.icon-02 .path132:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(5, 70, 166);
}
.icon-02 .path133:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(5, 69, 166);
}
.icon-02 .path134:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(4, 68, 166);
}
.icon-02 .path135:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(4, 67, 165);
}
.icon-02 .path136:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(4, 66, 165);
}
.icon-02 .path137:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(4, 65, 165);
}
.icon-02 .path138:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(3, 64, 164);
}
.icon-02 .path139:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(3, 63, 164);
}
.icon-02 .path140:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(3, 62, 164);
}
.icon-02 .path141:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(3, 61, 163);
}
.icon-02 .path142:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(2, 60, 163);
}
.icon-02 .path143:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(2, 59, 163);
}
.icon-02 .path144:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(2, 58, 162);
}
.icon-02 .path145:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(2, 57, 162);
}
.icon-02 .path146:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(1, 56, 162);
}
.icon-02 .path147:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(1, 55, 161);
}
.icon-02 .path148:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(1, 54, 161);
}
.icon-02 .path149:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(1, 53, 161);
}
.icon-02 .path150:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(0, 52, 160);
}
.icon-02 .path151:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(0, 51, 160);
}
.icon-02 .path152:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-02 .path153:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-03:before {
  content: "\e99a";
}
.icon-04:before {
  content: "\e99b";
}
.icon-05 .path1:before {
  content: "\e99c";
  color: rgb(0, 0, 0);
}
.icon-05 .path2:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(33, 183, 205);
}
.icon-05 .path3:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(33, 182, 204);
}
.icon-05 .path4:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(33, 181, 204);
}
.icon-05 .path5:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(32, 180, 204);
}
.icon-05 .path6:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(32, 179, 203);
}
.icon-05 .path7:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(32, 178, 203);
}
.icon-05 .path8:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(33, 183, 205);
}
.icon-05 .path9:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(33, 182, 204);
}
.icon-05 .path10:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(33, 181, 204);
}
.icon-05 .path11:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(32, 180, 204);
}
.icon-05 .path12:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(32, 179, 203);
}
.icon-05 .path13:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(32, 178, 203);
}
.icon-05 .path14:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(31, 175, 202);
}
.icon-05 .path15:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(31, 174, 201);
}
.icon-05 .path16:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(31, 173, 201);
}
.icon-05 .path17:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(30, 172, 201);
}
.icon-05 .path18:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(30, 171, 200);
}
.icon-05 .path19:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(30, 170, 200);
}
.icon-05 .path20:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(31, 175, 202);
}
.icon-05 .path21:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(31, 174, 201);
}
.icon-05 .path22:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(31, 173, 201);
}
.icon-05 .path23:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(30, 172, 201);
}
.icon-05 .path24:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(30, 171, 200);
}
.icon-05 .path25:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(30, 170, 200);
}
.icon-05 .path26:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(33, 183, 205);
}
.icon-05 .path27:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(33, 182, 204);
}
.icon-05 .path28:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(33, 181, 204);
}
.icon-05 .path29:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(32, 180, 204);
}
.icon-05 .path30:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(32, 179, 203);
}
.icon-05 .path31:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(32, 178, 203);
}
.icon-05 .path32:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(31, 175, 202);
}
.icon-05 .path33:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(31, 174, 201);
}
.icon-05 .path34:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(31, 173, 201);
}
.icon-05 .path35:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(30, 172, 201);
}
.icon-05 .path36:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(30, 171, 200);
}
.icon-05 .path37:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(30, 170, 200);
}
.icon-05 .path38:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(33, 183, 205);
}
.icon-05 .path39:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(33, 182, 204);
}
.icon-05 .path40:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(33, 181, 204);
}
.icon-05 .path41:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(32, 180, 204);
}
.icon-05 .path42:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(32, 179, 203);
}
.icon-05 .path43:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(32, 178, 203);
}
.icon-05 .path44:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(31, 175, 202);
}
.icon-05 .path45:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(31, 174, 201);
}
.icon-05 .path46:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(31, 173, 201);
}
.icon-05 .path47:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(30, 172, 201);
}
.icon-05 .path48:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(30, 171, 200);
}
.icon-05 .path49:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(30, 170, 200);
}
.icon-05 .path50:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(33, 183, 205);
}
.icon-05 .path51:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(33, 182, 204);
}
.icon-05 .path52:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(33, 181, 204);
}
.icon-05 .path53:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(32, 180, 204);
}
.icon-05 .path54:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(32, 179, 203);
}
.icon-05 .path55:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(32, 178, 203);
}
.icon-05 .path56:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(31, 175, 202);
}
.icon-05 .path57:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(31, 174, 201);
}
.icon-05 .path58:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(31, 173, 201);
}
.icon-05 .path59:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(30, 172, 201);
}
.icon-05 .path60:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(30, 171, 200);
}
.icon-05 .path61:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(30, 170, 200);
}
.icon-05 .path62:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-05 .path63:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-05 .path64:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-06:before {
  content: "\e9dc";
}
.icon-08:before {
  content: "\e9dd";
}
.icon-09:before {
  content: "\e9df";
}
